<section class="scanning-process">
  <div class="container">
    <div class="leafs-container">
      <h2 class="scanning-title process">ПРОЦЕС 3D СКАНУВАННЯ</h2>
      <ul class="scanning-process">
        <li class="scanning-img">
          <picture>
            <source
              srcset="
                ./images/img_scanning/scanning-1desk-1x-min-min.png 1x,
                ./images/img_scanning/scanning-1desk-2x-min-min.png 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/img_scanning/scanning-1tab-1x-min-min.png 1x,
                ./images/img_scanning/scanning-1tab-2x-min-min.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/img_scanning/scanning-1mob-1x-min-min.png 1x,
                ./images/img_scanning/scanning-1mob-2x-min-min.png 2x
              "
              media="(min-width: 480px)"
            />
            <img
              class="scanning-img-item"
              src="images/img_scanning/scanning-1mob-1x-min-min.png"
              alt="Підготовка деталі до сканування"
            />
          </picture>
          <div class="scanning-item-description">
            <p class="item-text">Підготовка деталі до сканування</p>
          </div>
        </li>
        <li class="scanning-img">
          <picture>
            <source
              srcset="
                ./images/img_scanning/scanning-2desk-1x-min-min.png 1x,
                ./images/img_scanning/scanning-2desk-2x-min-min.png 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/img_scanning/scanning-2tab-1x-min-min.png 1x,
                ./images/img_scanning/scanning-2tab-2x-min-min.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/img_scanning/scanning-2mob-1x-min-min.png 1x,
                ./images/img_scanning/scanning-2mob-2x-min-min.png 2x
              "
              media="(min-width: 480px)"
            />
            <img
              class="scanning-img-item"
              src="images/img_scanning/scanning-2mob-1x-min-min.png"
              alt="Створення сканів і їх обробка"
            />
          </picture>
          <div class="scanning-item-description">
            <p class="item-text">Створення сканів і їх обробка</p>
          </div>
        </li>
        <li class="scanning-img">
          <picture>
            <source
              srcset="
                ./images/img_scanning/scanning-3desk-1x-min-min.png 1x,
                ./images/img_scanning/scanning-3desk-2x-min-min.png 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/img_scanning/scanning-3tab-1x-min-min.png 1x,
                ./images/img_scanning/scanning-3tab-2x-min-min.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/img_scanning/scanning-3mob-1x-min-min.png 1x,
                ./images/img_scanning/scanning-3mob-2x-min-min.png 2x
              "
              media="(min-width: 480px)"
            />
            <img
              class="scanning-img-item"
              src="images/img_scanning/scanning-3mob-1x-min-min.png"
              alt="Перетворення reverse engineering"
            />
          </picture>
          <div class="scanning-item-description">
            <p class="item-text">Перетворення reverse engineering</p>
          </div>
        </li>
        <li class="scanning-img">
          <picture>
            <source
              srcset="
                ./images/img_scanning/scanning-4desk-1x-min-min.png 1x,
                ./images/img_scanning/scanning-4desk-2x-min-min.png 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/img_scanning/scanning-4tab-1x-min-min.png 1x,
                ./images/img_scanning/scanning-4tab-2x-min-min.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/img_scanning/scanning-4mob-1x-min-min.png 1x,
                ./images/img_scanning/scanning-4mob-2x-min-min.png 2x
              "
              media="(min-width: 480px)"
            />
            <img
              class="scanning-img-item"
              src="images/img_scanning/scanning-4mob-1x-min-min.png"
              alt="Підготовка моделі до друку"
            />
          </picture>
          <div class="scanning-item-description">
            <p class="item-text">Підготовка моделі до друку</p>
          </div>
        </li>
      </ul>
      <button class="btn padding-btn" type="button">ЗРОБИТИ ЗАМОВЛЕННЯ</button>
      <div class="leaf process-right"></div>
      <div class="leaf process-left"></div>
    </div>
  </div>
</section>
