<section class="scanning-process">
  <div class="container">
    <h2 class="scanning-title">ПРОЦЕС 3D СКАНУВАННЯ</h2>
    <ul class="scanning-process">
      <li class="scanning-img">
        <img
          class="scanning-img-item"
          src="images/img_scanning/scanning-1mob-1x-min-min.png"
          alt="Підготовка деталі до сканування"
        />
        <div class="scanning-item-description">
          <p class="item">Підготовка деталі до сканування</p>
        </div>
      </li>
      <li class="scanning-img">
        <img
          class="scanning-img-item creation"
          src="images/img_scanning/scanning-2mob-1x-min-min.png"
          alt="Створення сканів і їх обробка"
        />
        <div class="scanning-item-description">
          <p class="item">Створення сканів і їх обробка</p>
        </div>
      </li>
      <li class="scanning-img">
        <img
          class="scanning-img-item"
          src="images/img_scanning/scanning-3mob-1x-min-min.png"
          alt="Перетворення reverse engineering"
        />
        <div class="scanning-item-description">
          <p class="item">Перетворення reverse engineering</p>
        </div>
      </li>
      <li class="scanning-img">
        <img
          class="scanning-img-item"
          src="images/img_scanning/scanning-4mob-1x-min-min.png"
          alt="Підготовка моделі до друку"
        />
        <div class="scanning-item-description">
          <p class="item">Підготовка моделі до друку</p>
        </div>
      </li>
    </ul>
    <button class="btn" type="button">ЗРОБИТИ ЗАМОВЛЕННЯ</button>
  </div>
</section>
