.order-wrapper {
  display: flex;
}
.order-hero {
  background-color: burlywood;
}
.order-title{
  font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #487996;
    margin-bottom: 16px;
}
.order-list{
  gap: 16px;
  margin-bottom: 40px;
}
.irder-item-text{
  font-weight: 300;
    font-size: 16px;
    line-height: 20px;
  
    color: #2B2B2B;
}
.order-hero-img{
  margin-bottom: 16px;
}
