.ord-section {
  // padding: 100px 0 80px 0;
  display: block;

  // @media screen and (min-width: 1440px) {
  //   padding: 100px 149px 80px 149px;
  // }
}
.ord-form-container {
  padding-top: 40px;
  padding-bottom: 30px;
  position: relative;
  overflow: hidden;
  @include mobile {
    overflow: visible;
  }
  @include desktop {
    padding-top: 100px;
    padding-bottom: 73.51px;
    padding-left: 149px;
    padding-right: 149px;
  }
}
.ord-wrap {
  @include desktop {
    display: flex;
    justify-content: space-between;
  }
}

.ord-form {
  display: block;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: #2b2b2b;

  @include tablet {
    padding: 0px 120px;
  }

  @include desktop {
    width: 555px;
    padding: 0px;
  }
}

.ord-title {
  display: block;

  margin-bottom: 16px;

  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  text-align: left;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #487996;

  @include tablet {
    text-align: center;
  }

  @include desktop {
    text-align: left;
    font-size: 36px;
  }
}

.ord-field {
  position: relative;
}

.ord-input {
  padding: 8px 8px;
  width: 100%;
  margin: 20px 0px 20px;

  outline: transparent;
  border: none;
  border-bottom: 1px solid #487996;

  &:focus {
    background-origin: border-box;
    // border: 1px solid var(--accent);
  }
  @include tablet {
    width: 100%;
  }

  @include desktop {
    width: 555px;
  }
}

.ord-label {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);

  transition: transform 250ms linear;

  .ord-input:focus + &,
  .ord-input:not(:placeholder-shown) + & {
    transform: translateY(-40px);
  }

  .ord-input:hover + & {
    transform: translateY(-40px);
  }
}

// /* *******************
// Select c dropdown на JS
// ******************* */

.dropdown {
  position: relative;
}

.dropdown__button {
  position: relative;
  display: block;
  width: 100%;
  text-align: left;

  background: #ffffff;
  border: none;
  border-bottom: 1px solid #487996;
  height: auto;
  margin: 30px 0;
  padding: 8px 35px 8px 0px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: #2b2b2b;

  cursor: pointer;
}

.dropdown__button:focus,
.dropdown__button--active {
  outline: none;
  // box-shadow: 0px 0px 0px 4px rgba(176, 198, 225, 0.6);
}

.dropdown__button::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);

  /* Рисуем треугольник */
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 13px 10px 0 10px;
  border-color: #2b2b2b transparent transparent transparent;

  // width: 0;
  // height: 0;
  // border-style: solid;
  // border-width: 0 10px 13px 10px;
  // border-color: transparent transparent #2b2b2b transparent;

  /* Снимаем клик с треугольника */
  pointer-events: none;
}

//------------------------------------------------------------------

.dropdown__button::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);

  /* Рисуем треугольник */

  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 13px 10px;
  border-color: transparent transparent #2b2b2b transparent;

  /* Снимаем клик с треугольника */
  pointer-events: none;
  display: none;
}

.dropdown__input-hidden:focus-within .dropdown__button::before {
  display: block;
}
//------------------------------------------------------------------------
.dropdown__list {
  display: none;
  position: absolute;
  left: 0;
  top: 46px;

  margin: 0;
  padding: 0;
  list-style-type: none;

  background: #ffffff;
  border-bottom: 1px solid #487996;
  overflow: hidden;

  width: 100%;

  z-index: 1;
}

.dropdown__list--visible {
  display: block;
}

.dropdown__list-item {
  margin: 0;
  padding: 0;
  border: 3px solid #487996;
  border-radius: 8px;
  border-bottom: 0px;
  padding: 10px 20px 10px 0px;
  cursor: pointer;
}

.dropdown__list-item:last-child {
  // border-radius: 0 0 6px 6px;
  border-bottom: 1px solid #487996;
}

.dropdown__list-item:hover {
  color: #ffffff;
  background: rgba(72, 121, 150, 0.5);
}

.dropdown__input-hidden {
  display: none;
}

// // конец кода для селектора

.ord-cont-thumb {
  position: relative;
}

.ord-cont-textarea {
  padding: 20px;
}

.ord-cont-textarea::placeholder {
  position: absolute;
  top: 22px;
  left: 20px;
  font-size: 16px;
  line-height: 1.25;
  color: #cdcdcd;
  @include desktop {
    font-size: 18px;
    line-height: 1.11;
  }
}

.ord-cont-hint {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #cdcdcd;
  @include desktop {
    font-size: 18px;
    line-height: 1.11;
  }
}

.ord-form-margin {
  margin-bottom: 60px;
}

//-----------------------------------
.ord-pgdown {
  @include tablet {
    display: flex;
    column-gap: 26px;
  }

  @include desktop {
    flex-direction: column;
    margin-left: auto;
  }
}

.ord-item:last-child {
  @include tablet {
    margin-left: auto;
    text-align: right;
  }
  @include desktop {
    text-align: right;
  }
}

.ord-item {
  margin-bottom: 30px;
  @include desktop {
    text-align: right;
  }
}

.ord-pgdown-title {
  display: block;

  margin-bottom: 18px;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  text-align: left;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #487996;

  @include tablet {
    font-size: 24px;
  }

  @include desktop {
    text-align: right;
    font-size: 36px;
  }
}

.ord-pgdown a {
  display: inline-block;
}

.ord-pict {
  // display: block;
  // margin-top: 50px;
  display: none;
  margin-left: auto;
  // @media screen and (max-width: 1443px) {
  //   display: none;
  // }
  @include desktop {
    display: block;
  }
}
.order-form-petal {
  position: absolute;
  background: #ffffff;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  z-index: -1;
}
.order-form-petal-1 {
  width: 73.65px;
  height: 73.65px;
  left: -17px;
  top: 161.93px;
  border-radius: 25px 0px;
  @include tablet {
    width: 71.41px;
    height: 74.08px;
    right: 32px;
    left: auto;
    top: 142.65px;
    border-radius: 25px 0px;
  }
  @include desktop {
    width: 136.83px;
    height: 144px;
    left: -21.82px;
    right: auto;
    top: 144.01px;
    border-radius: 72px;
  }
}
.order-form-petal-2 {
  width: 73.65px;
  height: 73.65px;
  left: auto;
  right: -17px;
  top: 99.53px;
  border-radius: 72px;
  @include tablet {
    width: 74.08px;
    height: 71.41px;
    left: auto;
    right: 32px;
    top: 707.88px;
    border-radius: 25px 0px;
    transform: rotate(90deg);
  }
  @include desktop {
    display: none;
  }
}
.order-form-petal-3 {
  width: 73.65px;
  height: 73.65px;
  left: -18px;
  top: 580.83px;
  border-radius: 0px 0px 0px 35px;
  @include tablet {
    display: none;
  }
}
.order-form-petal-4 {
  width: 73.65px;
  height: 73.65px;
  left: auto;
  right: -18px;
  top: 544px;
  border-radius: 25px 0px;
  transform: rotate(90deg);
  @include tablet {
    display: none;
  }
}

.conta-icon {
  fill: #cdcdcd;
}
.text-btn:hover .conta-icon {
  fill: #487996;
}
