<body>
<header>
  <div class="container">
    <a href="./index.html" class="header-logo">
      <picture>
        <source
          srcset="./images/header/logo-footer-desktop.png 1x, 
          ./images/header/logo-footer-desktop@2x.png 2x"
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./images/header/logo-tab.png    1x,
            ./images/header/logo-tab@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/header/logo-mob.png    1x,
            ./images/header/logo-mob@2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="./images/header/logo-footer-desktop.png"
          alt="Логотип компанії"
          class="logo-image"
        />
      </picture>
    </a>

    <nav class="navigation">
      <ul class="navigation-list list">
        <li class="navigation-item">
          <a href="./index.html" class="navigation-link link current">Головна</a>
        </li>
        <li class="navigation-item services">
          <div class="span-wrapper">
            <span>Послуги</span>
          </div>          
          <ul class="services-list list">
            <li  class="services-item">
              <a href="./modeling.html" class="navigation-link link">3D Моделювання</a>
            </li>
            <li class="services-item">
              <a href="./scanning.html" class="navigation-link link">3D Сканування</a>
            </li>
            <li class="services-item">
              <a href="./printing.html" class="navigation-link link">3D Друк</a>
            </li>
          </ul>
        </li>
        <li class="navigation-item">
          <a href="./order.html" class="navigation-link link">Замовити</a>
        </li>
        <li class="navigation-item">
          <a href="./contacts.html" class="navigation-link link">Контакти</a>
        </li>
      </ul>
    </nav>

    <button
          class="menu-open js-open-menu"
          type="button"
          aria-expanded="false"
          aria-controls="mobile-menu"
        >
          <svg class="menu-open-icon" width="32" height="32">
            <use href="./images/icon.svg#menu-open"></use>
          </svg>
    </button>

    <ul class="lang list">
      <li class="lang-item"><a href="#" class="lang-link link">Ukr</a></li>
      <li class="lang-item"><a href="#" class="lang-link link">Eng</a></li>
      <li class="lang-item"><a href="#" class="lang-link link">Rus</a></li>
    </ul>

    <div class="mobile-tel">
      <svg class="tel-icon" width="24" height="24">
        <use href="./images/icon.svg#call"></use>
      </svg>
    </div>

    <ul class="tel-list list">
      <li class="tel-item">
        <a href="tel:+380936432288" class="tel">
          <svg class="tel-list-icon" width="14" height="14">
            <use href="./images/icon.svg#call"></use></svg
          >+38 (093) 643 22 88</a
        >
      </li>
      <li class="tel-item">
        <a href="tel:+380503454423" class="tel">
          <svg class="tel-list-icon" width="14" height="14">
            <use href="./images/icon.svg#call"></use></svg
          >+38 (050) 345 44 23</a
        >
      </li>
    </ul>

    <div class="header-petal left"></div>
    <div class="header-petal right"></div>
  </div>
</header>
</body>
