<div class="mob-menu js-menu-container" id="mobile-menu">
  <div class="wrapper">
    <a href="./index.html" class="header-logo">
    <picture>
      <source
        srcset="
          ./images/header/logo-tab.png    1x,
          ./images/header/logo-tab@2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./images/header/logo-mob.png    1x,
          ./images/header/logo-mob@2x.png 2x
        "
        media="(max-width: 767.5px)"
      />
      <img
        src="./images/header/logo-footer-desktop.png"
        alt="Логотип компанії"
        class="logo-image"
      />
    </picture>
    </a>
    <ul class="lang list">
    <li class="lang-item"><a href="#" class="lang-link link">Ukr</a></li>
    <li class="lang-item"><a href="#" class="lang-link link">Eng</a></li>
    <li class="lang-item"><a href="#" class="lang-link link">Rus</a></li>
    </ul>
    <div class="mobile-tel">
      <svg class="tel-icon" width="24" height="24">
        <use href="./images/icon.svg#call"></use>
      </svg>
    </div>
    <ul class="tel-list list">
      <li class="tel-item">
        <a href="tel:+380936432288" class="tel">
          <svg class="tel-list-icon" width="14" height="14">
            <use href="./images/icon.svg#call"></use></svg
          >+38 (093) 643 22 88</a
        >
      </li>
      <li class="tel-item">
        <a href="tel:+380503454423" class="tel">
          <svg class="tel-list-icon" width="14" height="14">
            <use href="./images/icon.svg#call"></use></svg
          >+38 (050) 345 44 23</a
        >
      </li>
    </ul>
  </div> 

  <button class="menu-close js-close-menu" type="button">
    <svg class="menu-close-icon" width="24" height="24">
      <use href="./images/icon.svg#menu-close"></use>
    </svg>
  </button>

  <ul class="menu-nav-list list">
    <li class="menu-nav-item">
      <a href="./index.html" class="menu-nav-link link menu-main">Головна</a>
    </li>
    <li class="menu-nav-item">
        <span>Послуги</span>
      <ul class="menu-serv-list list">
        <li  class="menu-serv-item">
          <a href="./modeling.html" class="menu-serv-link link menu-modeling">3D Моделювання</a>
        </li>
        <li class="menu-serv-item">
          <a href="./scanning.html" class="menu-serv-link link menu-scanning">3D Сканування</a>
        </li>
        <li class="menu-serv-item">
          <a href="./printing.html" class="menu-serv-link link menu-printing">3D Друк</a>
        </li>
      </ul>
    </li>
    <li class="menu-nav-item"><a href="./order.html" class="menu-nav-link menu-order">Замовити</a></li>
    <li class="menu-nav-item"><a href="./contacts.html" class="menu-nav-link menu-contacts">Контакти</a></li>
  </ul>

  <div class="petal header-petal left"></div>
    <div class="petal header-petal right"></div>
    <div class="petal mob-menu-petal"></div>

    <div class="petal-wrap">
      <div class="petal petal-img1"></div>
      <div class="petal petal-img2"></div>
      <div class="petal petal-arrow">
        <a class="arrow-link link" href="#big-foto">
          <svg class="arrow-icon" width="16" height="16">
            <use href="./images/icon.svg#link-arrow"></use>
          </svg>
        </a>
      </div>
      <div class="petal petal-img3"></div>
      <div class="petal petal-img4"></div>
      <div class="petal petal-no-img"></div>
    </div>
</div>
  
