:root {
  --color-header-footer-menu-text: #2b2b2b;
  --color-email-tel-btn-blue: #487996;
  --color-p-h2-name: #487996;
  --color-text: #2b2b2b;
  --background: #e5e5e5;
  --background-footer: #f5f5fa;
  --background-btn: #f5f5fa;
  --color-placeholder: #cdcdcd;

  --shadow-team-item: 0px 1px 3px rgba(176, 167, 196, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
