:root {
  --color-design: #2196f3;
  --color-light: #ffffff;
  --color-hover-link: #65a0cf;
  --color-darck: #212121;

  --shadow-team-item: 0px 1px 3px rgba(176, 167, 196, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
