:root {
  --main-text: #2b2b2b;
  --main-blue: #487996;
  --bcg-footer-btn: #f5f5fa;
  --placeholder: #cdcdcd;
  --bcg-white: #ffffff;
  --hover-bcg: rgba(72, 121, 150, 0.5);
  --hover-text-fill: #ffffff;
  --icon-blue-fill: #008CEF;

  --shadow-team-item: 0px 1px 3px rgba(176, 167, 196, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
