<footer class="page-footer">
  <div class="container container-footer">
    <a class="logo" href="index.html"
      ><img src="/src/images/logotest.png" alt="лого"
    /></a>
  </div>
  <ul>
    <li class="footer-item">
      <a class="footer-link" href="index.html">Головна</a>
    </li>
    <li class="footer-item">
      <a class="footer-link" href="">3D Моделювання</a>
    </li>
    <li class="footer-item">
      <a class="footer-link" href="">3D Сканування</a>
    </li>
    <li class="footer-item"><a class="footer-link" href="">3D Друк</a></li>
    <li class="footer-item"><a class="footer-link" href="">Замовити</a></li>
    <li class="footer-item"><a class="footer-link" href="">Контакти</a></li>
  </ul>
  <address class="address">
    <ul class="network-links">
      <li class="network-item">
        <a class="network-link" href="https://www.instagram.com/">instagram</a>
      </li>
      <li class="network-item">
        <a class="network-link" href="https://www.youtube.com/">youtube</a>
      </li>
      <li class="network-item">
        <a class="network-link" href="https://uk-ua.facebook.com/">facebook</a>
      </li>
      <li class="email">
        <a class="network-link" href="mailto:3dfreedom.info@gmail.com">Email</a>
      </li>
      <li class="email-address">
        <a class="network-link" href="mailto:3dfreedom.info@gmail.com"
          >3dfreedom.info@gmail.com</a
        >
      </li>
      <li class="network-item">Телефони</li>
      <li>
        <a class="tel" href="tel:+38 (093) 643 22 88">+38 (093) 643 22 88</a>
      </li>
      <li>
        <a class="tel" href="tel:+38 (050) 345 44 23">+38 (050) 345 44 23</a>
      </li>
    </ul>
  </address>
</footer>
