<footer class="page-footer">
  <div class="container container-footer">
    <a class="logo" href="index.html"
      ><img
        srcset="
          /src/images/header/logo-footer-desktop.png    1x,
          /src/images/header/logo-footer-desktop@2x.png 2x
        "
        src="/src/images/header/logo-footer-desktop.png"
        alt="лого"
    /></a>
    <div class="footer-container">
      <ul class="footer-content">
        <li class="footer-item">
          <a href="/src/index.html" class="footer-link link">Головна</a>
        </li>
        <li class="footer-item">
          <a href="/src/modeling.html" class="footer-link link"
            >3D Моделювання</a
          >
        </li>
        <li class="footer-item">
          <a href="/src/scanning.html" class="footer-link link"
            >3D Сканування</a
          >
        </li>
        <li class="footer-item">
          <a href="/src/printing.html" class="footer-link link">3D Друк</a>
        </li>
        <li class="footer-item">
          <a href="/src/order.html" class="footer-link link">Замовити</a>
        </li>
        <li class="footer-item">
          <a href="/src/contacts.html" class="footer-link link">Контакти</a>
        </li>
      </ul>
      <ul class="network-links">
        <li class="network-item">
          <a
            class="network-link link"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://www.instagram.com/"
            >Instagram</a
          >
        </li>
        <li class="network-item">
          <a
            class="network-link link"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://www.youtube.com/"
            >YouTube</a
          >
        </li>
        <li class="network-item">
          <a
            class="network-link link"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://uk-ua.facebook.com/"
            >Facebook</a
          >
        </li>
      </ul>
      <address class="footer-address">
        <ul class="address-links">
          <li class="footer-email">
            <a class="network-link link" href="mailto:3dfreedom.info@gmail.com"
              >Email</a
            >
          </li>
          <li class="email-address">
            <a
              class="network-link footer-mail link"
              href="mailto:3dfreedom.info@gmail.com"
              >3dfreedom.info@gmail.com</a
            >
          </li>
          <li class="network-item">Телефони</li>
          <li class="footer-tel">
            <a class="footer-tel-link link" href="tel:+38 (093) 643 22 88"
              >+38 (093) 643 22 88</a
            >
          </li>
          <li class="footer-tel">
            <a class="footer-tel-link link" href="tel:+38 (050) 345 44 23"
              >+38 (050) 345 44 23</a
            >
          </li>
        </ul>
      </address>
    </div>
  </div>
</footer>
