.contact-info {
  display: block;
  font-size: 16px;
  line-height: 1.25;
  text-transform: capitalize;
  color: #2b2b2b;
  margin-bottom: 8px;
}
.info{
  margin-bottom: 24px;
}
.work-time {
  margin-bottom: 8px;
}
.contacts{
  margin-bottom: 60px;
}
.weekday-work{
  margin-bottom: 8px;
}