.contacts-hero{
  padding-top: 41px;
}
.contact-wrap {
  @include tablet {
    margin-top: 0;
    display: flex;
    column-gap: 32px;
  }
  
}
.wrap-desc{
  @include desktop{
    padding: 0 149px;
  }
}
iframe{
  border: 0;
}
.video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  @include tablet {
    width: 336px;
    height: 261px;
  }
  @include desktop {
    width: 555px;
    height: 315px;
  }
}
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.contact-title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  color: #487996;
  text-transform: uppercase;
  @include desktop{
    font-size: 48px;
    line-height: 1.25;
    }
}
.contacts-text {
  margin-top: 16px;
  font-size: 16px;
  line-height: 1.25;
  color: #2b2b2b;
  @include desktop {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.28;
    margin-top: 24px;
  }
}

.contacts-text.first {
  position: relative;
  @include tablet {
    margin-top: 0;
  }
}

.contacts-text.second{
  position: relative;
}
.contacts-text.second::before{
  content: "";
  position:absolute;
width: 74px;
height: 74px;
// bottom: 56px;
right: 251px;
background:#fff;
box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
border-radius: 0px 0px 35px 0px;

}

.smile {
  display: inline-flex;
  align-items: center;
}
.smile::after {
  content: '';
  width: 22px;
  height: 22px;
  background-size: contain;
  background-image: url(/src/images/emoji.png);
  margin-left: 8px;
  align-content: center;
  @include desktop{
    display: none;
  }
}
.cont-text-wrap-desk{
  display: none;
  @include desktop{
    display: block;
  }
}

.cont-text-wrap{
  @include desktop{
    display: none;
  }
}
.smile-img{
  margin-top: 56px;
}
