.container-contact {
  width: 100%;
  margin: 0 auto;
  @media screen and (min-width: 480px) {
    max-width: 480px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 1440px;
    padding-top: 60px;
    padding-bottom: 20px;
  }
}

.contacts-form-wrapper {
  @include desktop {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.contact-inf {
  display: block;
  font-size: 16px;
  line-height: 1.25;
  color: #2b2b2b;
  margin-bottom: 8px;
  @include desktop {
    margin-bottom: 18px;
  }
}
.contact-part {
  margin-bottom: 24px;
  @include tablet {
    margin-bottom: 0;
  }
  @include desktop {
    margin-bottom: 26px;
  }
}
.contacts {
  padding-bottom: 60px;
  @include desktop {
    padding-bottom: 0px;
    padding-top: 40px;
    padding-left: 117px;
  }

  & .link {
    display: inline-block;
  }
}
.weekday-work {
  margin-bottom: 8px;
}
.contacts-pg-down {
  @include tablet {
    display: flex;
    column-gap: 26px;
  }

  @include desktop {
    display: block;
  }
}

.contact-part.info {
  @include tablet {
    text-align: right;
  }
}
.contacts-pg-down-item {
  margin-left: auto;
}

.contacts-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.28;
  color: #487996;
  text-transform: uppercase;
  margin-bottom: 8px;
  @include desktop {
    margin-bottom: 18px;
    font-size: 36px;
    line-height: 1.25;
  }
}
.contacts-title.desk {
  margin-bottom: 16px;
}
.contacts-title.small-text {
  text-transform: none;
}
