.container-contact {
  width: 100%;
  margin: 0 auto;
  @media screen and (min-width: 480px) {
    max-width: 480px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 1440px;
    padding-top: 60px;
    padding-bottom: 20px;
  }
}

.contacts-form-wrapper {
  @include desktop {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.contact-inf {
  display: block;
  font-size: 16px;
  line-height: 1.25;
  color: #2b2b2b;
  margin-bottom: 8px;
  @include desktop {
    margin-bottom: 18px;
  }
}
.contact-part {
  margin-bottom: 24px;
  @include tablet {
    margin-bottom: 0;
  }
  @include desktop {
    margin-bottom: 26px;
  }
}
.contacts {
  padding-bottom: 60px;
  @include desktop {
    padding-bottom: 0px;
    padding-top: 40px;
    padding-left: 117px;
  }

  & .link {
    display: inline-block;
  }
}
.weekday-work {
  margin-bottom: 8px;
}
.contacts-pg-down {
  @include tablet {
    display: flex;
    column-gap: 26px;
  }

  @include desktop {
    display: block;
  }
}

.contact-part.info {
  @include tablet {
    text-align: right;
  }
}
.contacts-pg-down-item {
  margin-left: auto;
}

.contacts-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.28;
  color: #487996;
  text-transform: uppercase;
  margin-bottom: 8px;
  @include desktop {
    margin-bottom: 18px;
    font-size: 36px;
    line-height: 1.25;
  }
}
.contacts-title.desk {
  margin-bottom: 16px;
}
.contacts-title.small-text {
  text-transform: none;
}

.indent{
  @include desktop{
    display: none;
  }
}
.contacts-form-wrapper {
  position: relative;
  overflow: 1px solid red;
  overflow: hidden;
  @include mobile{
    overflow: visible;
  }
}

.petal-contact-desc-8 {
  @include desktop {
    position: absolute;
    width: 136.83px;
    height: 144px;
    left: -10;
    bottom: 350;
    background: #fff;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 72px;
  }
}

.petal-contact-desc-9 {
  right: -15;
  top: 20;
  border-radius: 72px;
  z-index: -1;
  @include tablet {
    display: none;
  }
}
.petal-contact-desc-10 {
  right: -25;
  bottom: 525;
  border-radius: 25px 0px;
  transform: rotate(90deg);
  z-index: -1;
  @include tablet {
    display: none;
  }
}
.petal-contact-desc-11 {
  overflow: hidden;
  left: -15;
  bottom: 500;
  border-radius: 0px 0px 0px 35px;
  z-index: -1;
  @include tablet {
    display: none;
  }
}
.petal-contact-desc-12 {
  overflow: hidden;
  right: -20;
  bottom: 180;
  z-index: -1;
  border-radius: 25px 0px;
  @include tablet {
    display: none;
  }
}
