.contacts-form {
  padding-top: 40px;
  padding-bottom: 60px;
}

.wrap-form-contact {
  @include tablet {
    padding-left: 130px;
    padding-right: 130px;
  }
}

.contact-form-input {
  padding: 8px 8px;
  width: 100%;
  margin: 20px 0px 20px;
  outline: transparent;
  border: none;
  border-bottom: 1px solid #487996;

  &:focus {
    background-origin: border-box;
  }
}

textarea {
  width: 100%;
  height: 199px;
  left: 20px;
  border: 1px solid #487996;
  border-radius: 50px 0px;
  margin-bottom: 4px;
  margin-top: 4px;
  resize: none;
  outline: none;
}
.contact-text.write {
  padding-left: 22px;
  padding-top: 20px;
  color: #2b2b2b;
}
.textarea-wrap {
  position: relative;
}
.text-btn {
  position: absolute;
  display: flex;
  padding: 0;
  border: none;
  right: 21px;
  bottom: 23px;
  background-color: transparent;
  border-radius: 50%;
}
.text-btn-icon {
  fill: #cdcdcd;
}
.text-btn:hover .text-btn-icon {
  fill: #487996;
}

.contact-field.text {
  margin-bottom: 0;
}
.contact-input {
  width: 100%;
  height: 44px;
  border: transparent;
  border-bottom: 1px solid #487996;
  padding: 0;
}
.contact-input-mail {
  height: 24px;
}
.contact-item.text {
  display: block;
}
.contact-text::placeholder {
  font-size: 16px;
  line-height: 1.25;
  @include desktop {
    font-size: 18px;
    line-height: 1.11;
  }
}
.btn-form {
  margin-top: 40px;
}
.hint {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #cdcdcd;
  @include desktop {
    font-size: 18px;
    line-height: 1.11;
  }
}

.contact-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-transform: capitalize;
  color: #2b2b2b;
  @include desktop {
    font-size: 18px;
    line-height: 1.43;
  }
}
.contact-form {
  margin-left: auto;
  margin-right: auto;
}

.contact-form-desk {
  @include desktop {
    width: 555px;
    margin-left: 0;
    margin-right: 0;
  }
}

.contact-form-field {
  position: relative;
}
.contact-form-label {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);

  transition: transform 250ms linear;

  .contact-form-input:focus + &,
  .contact-form-input:not(:placeholder-shown) + & {
    transform: translateY(-40px);
  }

  .contact-form-input:hover + & {
    transform: translateY(-40px);
  }
}
