<section class="contacts-hero">
  <div class="container wrap-desc">
    <div class="contact-hero-wrap">
      <h1 class="contact-title">Контакти</h1>
      <div class="contact-wrap">
        <div class="video-wrap">
          <div class="video">
            <iframe
              width="560"
              height="315"
              src="https://www.youtube-nocookie.com/embed/9GkGbj6xNhs?controls=0&amp;start=47"
              title="YouTube video player"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </div>
        <ul class="cont-text-wrap">
          <li>
            <p class="contacts-text first">
              Людина уперше побачивши процес 3D друку може легко захопитися
              спостереженням за цим процесом не на десяток хвилин.
            </p>
          </li>
          <li>
            <p class="contacts-text second">
              Наша команда створює timelapse відео що б ви могли краще
              ознайомитися з технологією 3D друку і просто помилуватися красою
              цього процесу.
            </p>
          </li>
          <li>
            <p class="contacts-text smile">Приємного перегляду!</p>
          </li>
        </ul>
        <ul class="cont-text-wrap-desk">
          <li>
            <p class="contacts-text first">
              Людина уперше побачивши процес 3D друку може легко <br />
              захопитися спостереженням за цим процесом не на<br />
              десяток хвилин.
            </p>
          </li>
          <li>
            <p class="contacts-text second">
              Наша команда створює timelapse відео що б ви могли <br />
              краще ознайомитися з технологією 3D друку і <br />
              просто помилуватися красою цього процесу.
            </p>
          </li>
          <li>
            <p class="contacts-text">
              Приємного перегляду!
              <img
                class="smile-img"
                src="/src/images/emoji.png"
                alt="smile"
                width="49"
              />
            </p>
          </li>
        </ul>

      <div>
        <div class="petal-contact-1"></div>
        <div class="petal-contact-2"></div>
        <div class="petal-contact-3"></div>
        <div class="petal-contact-4"></div>
        <div class="petal-contact-5"></div>
        <div class="petal-contact-6 petal"></div>
        <div class="petal-contact-7 petal"></div>
      </div>
    </div>
  </div>
</section>
