<section class="contacts-hero">
  <div class="container">
    <h1 class="contacts-title">Контакти</h1>
    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/9GkGbj6xNhs?controls=0&amp;start=47" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <p class="contacts-text">
      Людина уперше побачивши процес 3D друку може легко захопитися
      спостереженням за цим процесом не на десяток хвилин.
    </p>
    <p class="contacts-text">
      Наша команда створює timelapse відео що б ви могли краще ознайомитися з
      технологією 3D друку і просто помилуватися красою цього процесу.
    </p>
    <p class="contacts-text" >Приємного перегляду!</p>
  </div>
</section>
