<section class="contacts">
  <div class="container">
    <ul class="contacts-pg-down">
      <li>
        <div class="telephon info">
          <p class="contacts-title">ТЕЛЕФОНИ</p>
          <a href="tel:+380957384551" class="contact-info link">
            +38 (095) -73-84-551
          </a>
          <a href="+380980025235" class="contact-info link">
            +38 (098) -00-25-235
          </a>
        </div>
      </li>
      <li>
        <div class="mail info">
          <p class="contacts-title">Email</p>
          <a href="mailto:3dfreedom.info@gmail.com" class="contact-info link">
            3dfreedom.info@gmail.com
          </a>
        </div>
      </li>
      <li>
        <div class="work-time info">
          <p class="contacts-title">Робочий час</p>
          <div class="weekday-work">
            <p>
              Пн-пт:<br />
              з 8:00 до 19:00
            </p>
          </div>
          <div class="weekend-work">
            <p>Сб, Нд: <br />з 10:00 до 17:00</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
