<section class="contacts">
  <div class="container wrap-desc">
    <ul class="contacts-pg-down">
      <li>
        <div class="contact-part">
          <p class="contacts-title">Телефони</p>
          <ul class="contacts-list">
            <li>
              <a href="tel:+380957384551" class="contact-inf link">
                +38 (095) -73-84-551
              </a>
            </li>
            <li>
              <a href="+380980025235" class="contact-inf link">
                +38 (098) -00-25-235
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <div class="contact-part">
          <p class="contacts-title small-text">Email</p>
          <a href="mailto:3dfreedom.info@gmail.com" class="contact-inf link">
            3dfreedom.info@gmail.com
          </a>
        </div>
      </li>
      <li class="contacts-pg-down-item">
        <div class="contact-part">
          <p class="contacts-title">Робочий час</p>
          <ul>
            <li>
              <div class="weekday-work link">
                <p>Пн-пт:<br />з 8:00 до 19:00</p>
              </div>
            </li>
            <li>
              <div class="weekend-work link">
                <p>Сб, Нд: <br />з 10:00 до 17:00</p>
              </div>
            </li>
          </ul>
        </div>
      </li>
    </ul>    
      
    </div>
  </div>
</section>
