

<section class="orderhero-section">
  <div class="container">
    <h2 class="orderhero-title">ЗРОБИТИ ЗАМОВЛЕННЯ</h2>
    <div class="orderhero-thumb">
      <picture class="orderhero-pict">
        <source
          srcset="
            ./images/order/order-001-desktop.jpg    1x,
            ./images/order/order-001-desktop-2x.jpg 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./images/order/order-001-tablet.jpg    1x,
            ./images/order/order-001-tablet-2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/order/order-001-mobile.jpg    1x,
            ./images/order/order-001-mobile-2x.jpg 2x
          "
          media="(max-width: 767px)"
        />

        <img
          src="./images/order/order-001-desktop.jpg"
          alt="order"
          
        />
      </picture>
      <div class="orderhero-text-thumb">
        <p class="orderhero-text">
          На цій сторінці ви можете зробити замовлення заповнивши форму і ми
          зв'яжемося з вами. Наші фахівці
        </p>
        <p class="orderhero-text">
          допоможуть підібрати оптимальні для вас параметри і дадуть відповідь
          на всі ваші запитання.
        </p>

        <div class="mosaic-thumb">
          <picture class="mosaic-pict car">
            <source
              srcset="
                ./images/order/order-0021-desktop.jpg    1x,
                ./images/order/order-0021-desktop-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <img
              src="./images/order/order-0021-desktop.jpg"
              alt="order"
              width="203"
              height="203"
            />
          </picture>
          <picture class="mosaic-pict drive">
            <source
              srcset="
                ./images/order/order-0022-desktop.jpg    1x,
                ./images/order/order-0022-desktop-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <img
              src="./images/order/order-0022-desktop.jpg"
              alt="order"
              width="203"
              height="203"
            />
          </picture>
          <picture class="mosaic-pict shroom">
            <source
              srcset="
                ./images/order/order-0023-desktop.jpg    1x,
                ./images/order/order-0023-desktop-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <img
              src="./images/order/order-0023-desktop.jpg"
              alt="order"
              width="203"
              height="203"
            />
          </picture>
        </div>
      </div>
    </div>

    
  </div>
</section>
