<section class="order-hero">
  <div class="container">order-hero
    <h2 class="order-title">ЗРОБИТИ ЗАМОВЛЕННЯ</h2>
    <picture class="order-hero-img">
      <source srcset="
                                        ./images/order/order-hero-mob.jpg   1x
                                        ./images/order/order-hero-mob-2x.jpg 2x
                                    " media="(max-width: 767px)" />
      <img class="exemple-card__img" src="./images/order/order-hero-mob.jpg " alt="3D model">
    </picture>
    <ul class="order-list">
      <li class="order-item">
        <p class="order-item-text">На цій сторінці ви можете зробити замовлення заповнивши форму 
          і ми зв'яжемося з вами.</p>
      </li>
      <li class="order-item">
        <p class="order-item-text">Наші фахівці допоможуть підібрати оптимальні для вас параметри 
          і дадуть відповідь на всі ваші запитання.</p>
      </li>
    </ul>
  </div>
</section>
