<section class="orderhero section">
  <div class="container">
    <h2 class="orderhero-title">ЗРОБИТИ ЗАМОВЛЕННЯ</h2>
    <div class="orderhero-thumb">
      <picture class="orderhero-pict">
        <source
          srcset="
            ./images/order/order-001-desktop.jpg    1x,
            ./images/order/order-001-desktop-2x.jpg 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./images/order/order-001-tablet.jpg    1x,
            ./images/order/order-001-tablet-2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/order/order-001-mobile.jpg    1x,
            ./images/order/order-001-mobile-2x.jpg 2x
          "
          media="(max-width: 767px)"
        />

        <img src="./images/order/order-001-desktop.jpg" alt="order" />
      </picture>
      <div class="orderhero-text-thumb">
        <p class="orderhero-text">
          На цій сторінці ви можете зробити замовлення заповнивши форму і ми
          зв'яжемося з вами.
        </p>
        <p class="orderhero-text">
          Наші фахівці допоможуть підібрати оптимальні для вас параметри і
          дадуть відповідь на всі ваші запитання.
        </p>

        <div class="mosaic-thumb">
          <picture class="mosaic-pict car">
            <source
              srcset="
                ./images/order/order-0021-desktop.jpg    1x,
                ./images/order/order-0021-desktop-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <img
              src="./images/order/order-0021-desktop.jpg"
              alt="order"
              width="203"
              height="203"
            />
          </picture>
          <picture class="mosaic-pict flash">
            <source
              srcset="
                ./images/order/order-0022-desktop.jpg    1x,
                ./images/order/order-0022-desktop-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <img
              src="./images/order/order-0022-desktop.jpg"
              alt="order"
              width="203"
              height="203"
            />
          </picture>
          <picture class="mosaic-pict shroom">
            <source
              srcset="
                ./images/order/order-0023-desktop.jpg    1x,
                ./images/order/order-0023-desktop-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <img
              src="./images/order/order-0023-desktop.jpg"
              alt="order"
              width="203"
              height="203"
            />
          </picture>
        </div>
      </div>
    </div>

    <!-- <form>
      <div class="order">
        <div class="order-left">
          <b class="orderform-title">ЗВ’ЯЖІТЬСЯ З НАМИ</b>
          <div class="orderform">
            <div class="orderform-field">
              <input
                class="orderform-input"
                type="text"
                name="name"
                id="name"
                placeholder=" "
              />
              <label class="orderform-label" for="name">Ім'я</label>
            </div>
            <div class="orderform-field">
              <input
                class="orderform-input"
                type="email"
                name="mail"
                id="mail"
                placeholder=" "
              />
              <label class="orderform-label" for="mail">Email</label>
            </div>

            <div class="orderform-field">
              <label class="select-label" for="plast">
                Види пластика
                <span class="orderform-thumb">
                  <select class="orderform-select" id="plast" name="plast">
                    <option value="4">300 мікрон</option>
                    <option value="3">200 мікрон</option>
                    <option value="2">100 мікрон</option>
                    <option value="1">Труднощі у виборі - ми допоможемо</option>
                    <option value="0" selected></option>
                  </select>
                  <span class="orderform-pict"></span>
                </span>
              </label>
            </div>

            <div class="orderform-field">
              <label for="quality">
                Якість друку
                <span class="orderform-thumb">
                  <select class="orderform-select" id="quality" name="quality">
                    <option value="4">300dpi</option>
                    <option value="3">200dpi</option>
                    <option value="2">100pdi</option>
                    <option value="0" selected></option>
                  </select>
                  <span class="orderform-pict"></span>
                </span>
              </label>
            </div>

            <div class="orderform-field">
              <label for="colorpl">
                Колір
                <span class="orderform-thumb">
                  <select class="orderform-select" id="colorpl" name="colorpl">
                    <option value="4">red</option>
                    <option value="3">blue</option>
                    <option value="2">white</option>
                    <option value="0" selected></option>
                  </select>
                  <span class="orderform-pict"></span>
                </span>
              </label>
            </div>

            <div class="ordertextbox">
              <label class="ordertextbox-label" for="comment"
                >Повідомлення</label
              >
              <div class="ordertextbox-thumb">
                <textarea
                  class="ordertextbox-input"
                  name="comment"
                  id="comment"
                  cols="30"
                  rows="10"
                  placeholder="Залишіть своє повідомлення"
                ></textarea>
                <span class="ordertextbox-pict"></span>
              </div>
              <span class="ordertextbox-text">
                *Прикріпіть зображення /
                <br />
                креслення / STL / Obj /
                <br />
                CAD-модель
              </span>
            </div>
          </div>
          <div class="agriment__bottom">
            <button class="btn" type="submit">Отправить</button>
          </div>
        </div>
        <div class="order-contacts">
          <div class="contact-phone">
            <h3 class="contact-phone-title">ТЕЛЕФОНИ</h3>
            <p class="contact-phone-text">+38 (095) -73-84-551</p>
            <p class="contact-phone-text">+38 (098) -00-25-235</p>
          </div>
          <div class="contact-mail">
            <h3 class="contact-mail-title">Email</h3>
            <p class="contact-mail-text">3dfreedom.info@gmail.com</p>
          </div>
          <div class="contact-time">
            <h3 class="contact-time-title">Робочий час</h3>
            <p class="contact-time-text">Пн-пт: <br/> з 8:00 до 19:00</p>
            <p class="contact-time-text">Сб, Нд: <br /> з 10:00 до 17:00</p>
          </div>
          
          <picture class="mosaic-pict2">
            <source
              srcset="
                ./images/order/order-003-desktop.jpg    1x,
                ./images/order/order-003-desktop-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <img
              src="./images/order/order-003-desktop.jpg"
              alt="order"
              width="438"
              height="294"
            />
          </picture>
        </div>
      </div>
    </form> -->
  </div>
</section>
