<section class="оrder-contacts">
  <div class="container">
    <address class="order-address">
        <h3 class="order-address-title">як з нами звязатися</h3>
          <div class="order-phones">
            <h4 class="order-phones-title">ТЕЛЕФОНИ</h4>
            <a class="order-phone-link" href="">+38 (095) -73-84-551</a>
            <a class="order-phone-link" href="">+38 (098) -00-25-235</a>
          </div>
          <div class="order-mail">
            <h4 class="order-mail-title">Email</h4>
            <a class="order-mail-link" href="">3dfreedom.info@gmail.com</a>
          </div>
          <div class="order-time">
            <h4 class="order-time-title">Робочий час</h4>
            <p class="order-time-text" >Пн-пт: <br/>
              з 8:00 до 19:00</p>
            <p lass="order-time-text">Сб, Нд: <br />
              з 10:00 до 17:00</p>
          </div>
    </address>
  </div>
</section>
