<section class="оrder-forms">
  <div class="container">
<div class="orderform-wrapper-box">
    <b class="orderform-title"> ЗВ’ЯЖІТЬСЯ З НАМИ </b>
 
          <div class="orderform">
            <div class="orderform-field">
              <input
                class="orderform-input"
                type="text"
                name="name"
                id="name"
                placeholder=" "
              />
              <label class="orderform-label" for="name">Ім'я</label>
            </div>
            <div class="orderform-field">
              <input
                class="orderform-input"
                type="email"
                name="mail"
                id="mail"
                placeholder=" "
              />
              <label class="orderform-label" for="mail">Email</label>
            </div>
    <div class="form-group">
      <div class="dropdown">
        <button class="dropdown__button">Види пластика</button>
        <ul class="dropdown__list">
          <li class="dropdown__list-item" data-value="travel">
            300 мікрон
          </li>
          <li class="dropdown__list-item" data-value="lessons">
            200 мікрон
          </li>
          <li class="dropdown__list-item" data-value="photo">100 мікрон</li>
          <li class="dropdown__list-item" data-value="sport">
            Труднощі у виборі - ми допоможемо
          </li>
        </ul>
        <input
          type="text"
          name="select-category"
          value=""
          class="dropdown__input-hidden"
        />
      </div>
    </div>

    <div class="form-group">
      <div class="dropdown">
        <button class="dropdown__button">Якість друку</button>
        <ul class="dropdown__list">
          <li class="dropdown__list-item" data-value="travel">
            300 мікрон
          </li>
          <li class="dropdown__list-item" data-value="lessons">
            200 мікрон
          </li>
          <li class="dropdown__list-item" data-value="photo">100 мікрон</li>
          <li class="dropdown__list-item" data-value="sport">
            Труднощі у виборі - ми допоможемо
          </li>
        </ul>
        <input
          type="text"
          name="select-category"
          value=""
          class="dropdown__input-hidden"
        />
      </div>
    </div>

    <div class="form-group">
      <div class="dropdown">
        <button class="dropdown__button">Колір</button>
        <ul class="dropdown__list">
          <li class="dropdown__list-item" data-value="travel">
            Red
          </li>
          <li class="dropdown__list-item" data-value="lessons">
            Green
          </li>
          <li class="dropdown__list-item" data-value="photo">Blue</li>
        </ul>
        <input
          type="text"
          name="select-category"
          value=""
          class="dropdown__input-hidden"
        />
      </div>
    </div>

<div class="form-margin">

        <div class="contact-field text">
          <label for="contact-text" class="contact-label">
            <span class="contact-item text">Повідомлення</span>
          </label>
          <div class="textarea-wrap">
            <textarea
              name="contact-text"
              id="contact-text"
              class="contact-text"
              placeholder="Залишіть своє повідомлення"
            ></textarea>
            <button class="text-btn" type="button">
              <svg class="text-btn-icon" width="22" height="20">
               <use href="/src/images/icon.svg#paper-clip"></use>
              </svg>
            </button>
          </div>
          <p class="hint">
            *Прикріпіть зображення / креслення / STL / Obj / CAD-модель
          </p>
        </div>
        <button type="submit" class="btn send-mobile-btn btn-form">Відправити</button>
        <div class="button-margin"></div>

        </div>
     


  </div>

  <script src="main.js"></script>
</section>
