<!-- <section class="оrder-contacts">
  <div class="container">
    <div class="contackt-wrap">
      <ul class="contacts-pg">
        <li>
          <div class="contact-part">
            <p class="contacts-title">Телефони</p>
            <ul class="contacts-list">
              <li>
                <p class="contact-info link">+38 (095) -73-84-551</p>
              </li>
              <li>
                <p class="contact-info">+38 (098) -00-25-235</p>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div class="contact-part">
            <p class="contacts-title small-text">Email</p>
            <a href="mailto:3dfreedom.info@gmail.com" class="contact-info link">
              3dfreedom.info@gmail.com
            </a>
          </div>
        </li>
        <li class="contacts-pg-down-item">
          <div class="contact-part">
            <p class="contacts-title">Робочий час</p>
            <ul>
              <li>
                <div class="weekday-work link">
                  <p>Пн-пт:<br />з 8:00 до 19:00</p>
                </div>
              </li>
              <li>
                <div class="weekend-work link">
                  <p>Сб, Нд: <br />з 10:00 до 17:00</p>
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
      <picture class="mosaic-pict2">
        <source
          srcset="
            ./images/order/order-003-desktop.jpg    1x,
            ./images/order/order-003-desktop-2x.jpg 2x
          "
          media="(min-width: 1200px)"
        />
        <img
          src="./images/order/order-003-desktop.jpg"
          alt="order"
          width="438"
          height="294"
        />
      </picture>
    </div>
  </div>
</section> -->
