.modeling-title-description {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.28;

  color: #487996;
  margin-top: 40px;

  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .modeling-title-description {
    font-size: 24px;
    line-height: 1.25;
    margin-top: 41px;
  }
}

@media screen and (min-width: 1440px) {
  .modeling-title-description {
    font-size: 36px;
    line-height: 1.25;
    margin-top: 100px;
    margin-left: 117px;
    max-width: 748px;
  }
}

.metod {
  position: relative;
  display: flex;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.28;
  color: #2b2b2b;
  margin-top: 16px;
  margin-left: 17px;
}

@media screen and (min-width: 1440px) {
  .metod {
    font-size: 18px;
    line-height: 1.25;
    margin-left: 134px;
  }
}

.metod:before {
  content: '';
  position: absolute;
  background: url(../images/3d/rectangle.png) no-repeat center;
  height: 100%;
  width: 8px;
  transform: translatex(-17px);
}

@media screen and (min-width: 768px) {
  .box-list {
    display: flex;
    }
}

.pic {
  padding-top: 70px;
}

@media screen and (max-width: 768px) {
  .pic {
    display: flex;
    padding-top: 40px;
  }
}

@media screen and (min-width: 1440px) {
.pic {
  padding-top: 40px;
}
}

// Background==================
.methods {
  position: relative;
}

.modeling-methods-petals {
  position: absolute;
  background: #ffff;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .modeling-methods-19 {
    width: 73.65px;
height: 73.65px;
left: -17px;
top: 95.93px;
border-radius: 25px 0px;
}

.modeling-methods-63 {
width: 73.65px;
height: 73.65px;
left: 377px;
top: 40.53px;
border-radius: 72px;
}
}

@media screen and (min-width: 768px) {
.modeling-methods-60 {
  width: 71.41px;
  height: 74.08px;
  left: 690.59px;
  top: 160.65px;
  border-radius: 25px 0px;
}
}

@media screen and (min-width: 1440px) {
  .modeling-methods-60 {
width: 136.83px;
height: 144px;
left: 1272px;
top: 255px;
border-radius: 72px 0px;
  }
}
