.modeling-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;

  color: #487996;
  margin-top: 44px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .modeling-title {
    font-size: 36px;
    line-height: 1.25;
    margin-top: 41px;
  }
}

@media screen and (min-width: 1440px) {
  .modeling-title {
    font-size: 48px;
    line-height: 1.25;
    margin-top: 115px;
  }
}

@media screen and (min-width: 1440px) {
  .modeling {
    display: flex;
    max-width: 515 px;
    justify-content: space-between;
  }
}

.modeling-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.28;
  color: #2b2b2b;
  max-width: 515px;
  margin-top: 16px;
}

@media screen and (min-width: 1440px) {
  .modeling-text {
    margin-top: 24px;
    font-size: 18px;
  }
}

.modeling-text:not(:last-child) {
  margin-right: 72px;
}