.models-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px 20px;
  margin-top: 16px;
  margin-bottom: 40px;
  }

@media screen and (min-width: 768px) {
  .models-list {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1440px) {
  .models-list {
    margin-bottom: 80px;
  }
}

.models-picture {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .models-picture {
    width: calc(50% - 10px);
  }
}

.models-picture-draft {
  max-width: 100%;
}

.modeling-btn {
    margin-bottom: 60px;
}

@media screen and (min-width: 1440px) {
  .modeling-btn {
    margin-bottom: 80px;
  }
}