.printing-examples-container {
  position: relative;
  padding-top: 18.35px;
  padding-bottom: 37.82px;
  @include tablet {
    padding-top: 29.95px;
    padding-bottom: 40px;
  }
  @include desktop {
    padding-top: 45.7px;
    padding-bottom: 100px;
  }
}
// .printing-examples {
//   background-color: #ffffff;
// }

.examples-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 0;
  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
    gap: 32px;
  }
}

.examples-title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  color: #487996;
  padding-left: auto;
  @media screen and (min-width: 768px) {
    font-size: 36px;
    line-height: 1.25;
  }
  @media screen and (min-width: 1200px) {
    font-size: 48px;
    line-height: 1.25;
    margin-bottom: 24px;
    padding-left: 114px;
  }
}

.examples-pre-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
  color: #487996;
}

.examples-item {
  width: calc((100% - 20px) / 2);
  height: 158px;
  text-align: center;
  background: #ffffff;
  opacity: 0.8;
  box-shadow: inset 1px 1px 16px #cbcbcb, inset -1px -1px 16px #ffffff;
  border-radius: 50px 0px;
  @media screen and (min-width: 768px) {
    width: calc((100% - 96px) / 3);
    height: 182px;
  }
  @media screen and (min-width: 1440px) {
    width: calc((100% - 96px) / 3);
    height: 382px;
  }
}

.position {
  margin: auto;
}

.product {
  padding-top: 25px;
  margin-bottom: 18px;
  @media screen and (min-width: 768px) {
    padding-top: 30px;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1440px) {
    padding-top: 61px;
    margin-bottom: 43px;
  }
}

.macet {
  padding-top: 38px;
  margin-bottom: 17px;
  @media screen and (min-width: 768px) {
    padding-top: 44px;
    margin-bottom: 19px;
  }
  @media screen and (min-width: 1440px) {
    padding-top: 86px;
    margin-bottom: 65px;
  }
}

.decor {
  padding-top: 31px;
  margin-bottom: 17px;
  @media screen and (min-width: 768px) {
    padding-top: 36px;
    margin-bottom: 19px;
  }
  @media screen and (min-width: 1440px) {
    padding-top: 40px;
    margin-bottom: 21px;
  }
}

.coub {
  padding-top: 24px;
  margin-bottom: 9px;
  @media screen and (min-width: 768px) {
    padding-top: 28px;
    margin-bottom: 11px;
  }
  @media screen and (min-width: 1440px) {
    padding-top: 40px;
    margin-bottom: 20px;
  }
}
.printing-examples-petals {
  position: absolute;
  background: #FFFFFF;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  z-index: -1;
}
.printing-examples-1 {
  width: 73.65px;
  height: 73.65px;
  left: -29px;
  top: 220.96px;
  border-radius: 0px 0px 35px 0px;
  @include tablet {
    width: 71.41px;
    height: 63.79px;
    left: auto;
    right: 32px;
    top: 8.42px;
    border-radius: 0px 35px 0px 0px;
    transform: rotate(180deg);
  }
  @include desktop {
    width: 82px;
    height: 78px;
    left: 35px;
    top: 45.7px;
    border-radius: 0px 0px 72px 0px;
    transform: none;
  }
}
.printing-examples-2 {
  @include tablet {
    width: 74.08px;
    height: 71.41px;
    left: 32px;
    top: 147.95px;
    right: auto;
    border-radius: 0px 0px 0px 35px;
  }
  @include desktop {
    width: 83px;
    height: 137px;
    right: 62px;
    left: auto;
    top: 6.71px;
    border-radius: 0px 0px 72px 0px;
    transform: rotate(90deg);
  }
}
