.printing-process-container {
  // padding-top: 38px;
  padding-bottom: 60px;
  overflow-x: hidden;
  @include mobile{
    overflow: visible;
  }
  @include tablet {
    // padding-top: 40px;
  }
  @include desktop {
    // padding-top: 100px;
    padding-bottom: 80px;
    padding-left: 149px;
  }
  position: relative;
}
.printing-process-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  @include tablet {
    gap: 60px;
  }
  @include desktop {
    gap: 100px;
  }
}
.printing-process-item {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }
  @include desktop {
    gap: 85px;
  }
}
.printing-process-image {
  filter: drop-shadow(20px 20px 80px rgba(0, 0, 0, 0.15));
  border-radius: 50px 0px;
  margin-bottom: 20px;
  @include mobile{
    border-radius: 80px 0px;
  }
  @include tablet {
    margin-bottom: 0;
  }
}
.printing-process-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tablet {
    align-items: flex-start;
  }
}
.printing-process-text-block {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
  @include tablet {
    width: 336px;
    margin-bottom: 56px;
  }
  @include desktop {
    width: 734px;
    gap: 24px;
  }
}
.printing-process-text {
  font-weight: 300;
  font-size: 16px;
  line-height: calc(20 / 16);
  color: #2b2b2b;
  @include desktop {
    font-size: 18px;
    line-height: calc(23 / 18);
  }
}
.printing-process-text-header {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20 / 16);
  color: #487996;
  text-transform: uppercase;
  @include desktop {
    font-size: 18px;
    line-height: calc(23 / 18);
  }
}
.printing-process-btn {
  display: inline-block;
  text-transform: uppercase;
  margin: 0;
}
.printing-process-petals {
  position: absolute;
  background: #FFFFFF;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  z-index: -1;
}
.printing-process-1 {
  width: 73.65px;
  height: 73.65px;
  right: -17px;
  top: 72.53px;
  border-radius: 72px;
  @include tablet {
    width: 71.41px;
    height: 74.08px;
    right: 32px;
    top: 78.65px;
    border-radius: 25px 0px;
  }
  @include desktop {
    right: auto;
    left: -21.82px;
    top: 62px;
    border-radius: 72px;
    width: 136.83px;
    height: 144px;
  }
}
.printing-process-2 {
  width: 73.65px;
  height: 73.65px;
  left: -17px;
  top: 134.93px;
  border-radius: 25px 0px;
  @include tablet {
    width: 74.08px;
    height: 71.41px;
    right: 32px;
    left: auto;
    top: 643.88px;
    border-radius: 25px 0px;
    transform: rotate(90deg);
  }
  @include desktop {
    width: 136.83px;
    height: 144px;
    right: 32px;
    top: 0px;
    border-radius: 72px 0px;
    transform: none;
  }
}
.printing-process-3 {
  width: 73.65px;
  height: 73.65px;
  right: -18px;
  top: 517px;
  border-radius: 25px 0px;
  transform: rotate(90deg);
  @include tablet {
    width: 71.41px;
    height: 74.08px;
    left: -17px;
    right: auto;
    top: 942.75px;
    border-radius: 72px;
    transform: none;
  }
  @include desktop {
    width: 142.81px;
    height: 145px;
    left: auto;
    right: 32.41px;
    top: 952px;
    border-radius: 0px 72px;
    transform: rotate(90deg);
  }
}
.printing-process-4 {
  width: 73.65px;
  height: 73.65px;
  left: auto;
  right: -18px;
  top: 906.84px;
  border-radius: 25px 0px;
  @include tablet{
    display: none;
  }
  @include desktop {
    display: block;
    width: 143.77px;
    height: 116px;
    right: 175.23;
    left: auto;
    top: 1097px;
    border-radius: 0px 0px 0px 72px;
  }
}
.printing-process-5 {
  width: 73.65px;
  height: 73.65px;
  left: -18px;
  top: 553.83px;
  border-radius: 0px 0px 0px 35px;
  @include tablet {
    display: none;
  }
}
