.scanning-hero {
  padding-top: 40px;
  padding-bottom: 40px;
}

.scanning-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.24;
  color: #487996;
  margin-bottom: 16px;

  @media screen and (min-width: 768px) and (max-width: 1439px) {
    font-size: 36px;
  }

  @media screen and (min-width: 1440px) {
    font-size: 48px;
    padding-left: 117px;
  }
}

.scanning-list {
  @media screen and (min-width: 1440px) {
    flex-direction: column;
    column-count: 2;
    max-width: 1100px;
    column-gap: 75px;
    padding-left: 117px;
  }
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    position: relative;
  }
}

.hero-scanning {
  margin-bottom: 16px;
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    width: 515px;
  }
}

.hero-scanning:nth-child(-n + 2) {
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    margin-bottom: 24px;
  }
}

.text {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.25;
  color: #2b2b2b;
  @media screen and (min-width: 1440px) {
    font-size: 22px;
    line-height: 1.28;
  }
}

.limitation {
  max-width: 500px;
}

.hero-scanning-img {
  text-align: center;
  // width: 435px;
}

.scanning {
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    position: absolute;
    top: 40%;
    right: 0%;
    width: 210px;
    z-index: -1;
  }
}

/*-----------------------------ПЕЛЮСТКА----------------------------*/
.leaf{
  position: absolute;
  @media screen and (min-width: 1440px){
    background: #FFFFFF;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 72px 0px;
  }
}

.small{
  @media screen and (min-width: 1440px){
    width: 82px;
    height: 78px;
    left: 35px;
    top: 0;
  }
    @media screen and (min-width: 768px)and (max-width: 1439px){
      width: 74.08px;
        height: 71.41px;
        left: 6px;
        top: 165px;
      box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
        border-radius: 0px 0px 0px 35px;
        transform: rotate(-90deg);
    }
}

.hero-top-right{
  @media screen and (min-width:320px)and (max-width: 767px) {
    width: 73.65px;
      height: 73.65px;
      left: -42px;
      bottom: 1px;
      background: #FFFFFF;
      box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
      border-radius: 25px 0px;
      z-index: -1;
      overflow: hidden;
  }
  @media screen and (min-width: 768px)and (max-width: 1439px){
    width: 71.41px;
    height: 63.79px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0px 35px 0px 0px;
    transform: rotate(180deg);
    right: 32px;
    top: 0;
  }
  @media screen and (min-width: 1440px){
    width: 144px;
    height: 136.83px;
    right: 32px;
    top: 0;
    transform: rotate(90deg);}
}

.hero-bottom-right{
  @media screen and (min-width:320px)and (max-width: 767px) {
    width: 73.65px;
      height: 73.65px;
      left: 261px;
      top: 470px;
      background: #FFFFFF;
      box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
      border-radius: 72px;
      z-index: -1;
      overflow: hidden;
  }
  @media screen and (min-width: 768px)and (max-width: 1439px) {
    width: 71.41px;
    height: 74.08px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 25px 0px;
    right: 35px;
    bottom: -50px;
  }
  @media screen and (min-width: 1440px) {
    width: 136.83px;
    height: 144px;
    right: 35px;
    bottom: 0;
    border-radius: 72px 0px;
  }
}

.hero-bottom2-left{
  position: absolute;
  @media screen and (min-width:320px)and (max-width: 767px){
    width: 73.65px;
    height: 73.65px;
    left: -29px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 35px 0px;
    z-index: -1;
    overflow: hidden;
  }
}

.leafs-container {
  position: relative;
}