.item-text {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #487996;

  @media screen and (min-width: 1440px) {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.28;
    text-align: center;
    color: #487996;
  }
}

.process {
  @media screen and (min-width:320px)and (max-width: 767px) {
    font-size: 18px !important;
    line-height: 1.27;
    padding-left: 20px;
  }

  @media screen and (min-width: 1440px) {
    padding-left: 117px;
  }

  @media screen and (min-width: 768px) and (max-width: 1439px) {
    padding-left: 28px;
    font-size: 24px !important;
  }
}

.scanning-img {
  text-align: center;
  background: #ffffff;
  box-shadow: inset 1px 1px 16px #cbcbcb, inset -1px -1px 16px #ffffff;
  border-radius: 50px 0px;
  padding: 11.5px 19px;

  @media screen and (min-width: 768px) and (max-width: 1439px) {
    padding: 22px 21px;
  }

  @media screen and (min-width: 1440px) {
    padding: 43px 36px;
  }
}

.scanning-img-item {
  width: 100%;

  @media screen and (min-width: 1440px) {
    display: inline-block;
  }
}

.scanning-process {
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  column-gap: 20px;
  justify-content: center;
}

.scanning-process>.scanning-img {
  width: calc((100% - 40px) / 2);

  @include tablet {
    flex-basis: calc((100% - 96px) / 4);
  }
}

.scanning-item-description {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
}

.padding-btn {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin-top: 40px;
  }

  @media screen and (min-width: 768px) and (max-width: 1439px) {
    margin-top: 60px;
  }

  @media screen and (min-width: 1440px) {
    margin-top: 80px;
  }
}

.padding-process {
  padding-bottom: 60px;

  @media screen and (min-width: 768px) and (max-width: 1439px) {
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1440px) {
    padding-bottom: 80px;
  }
}

.btn-order-container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 277.67px;

  &>a {
    display: inline;
  }
}

.process-right {
  position: absolute;

  @media screen and (min-width:320px)and (max-width: 767px) {
    width: 73.65px;
    height: 73.65px;
    right: -20px;
    top: 80px;
    background: #FFFFFF;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 25px 0px;
    transform: rotate(90deg);
    z-index: -1;
    overflow: hidden;
  }
}

.process-left {
  position: absolute;

  @media screen and (min-width:320px)and (max-width: 767px) {
    width: 73.65px;
    height: 73.65px;
    left: -20px;
    top: 150px;
    background: #FFFFFF;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 0px 35px;
    z-index: -1;
    overflow: hidden;
  }
}