.scanning-hero {
  padding-top: 40px;
  padding-bottom: 40px;
}
.scanning-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.24;
  color: #487996;
  margin-bottom: 16px;
  @media screen and (min-width: 768px) and (max-width: 1439px) {
      font-size: 36px;
    }
  @media screen and (min-width: 1440px){
    font-size: 48px;
  }
}

.scanning-list {
  @media screen and (min-width: 1440px) {
    flex-direction: column;
    column-count: 2;
    max-width: 1100px;
    column-gap: 75px;
  }
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    position: relative;
  }
}

.hero-scanning {
  margin-bottom: 16px;
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    width: 515px;
  }
}

.hero-scanning:nth-child(-n + 2) {
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    margin-bottom: 24px;
  }
}

.text {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.25;
  color: #2b2b2b;
  @media screen and (min-width: 1440px){
    font-size: 22px;
    line-height: 1.28;
  }
}

.limitation{
  width: 500px;
}

.hero-scanning-img {
  text-align: center;
  // width: 435px;
}

.scanning {
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    position: absolute;
    top: 40%;
    right: 0%;
    width: 210px;
    z-index: -1;
  }
}

// .img-scanning {
//   @media screen and (min-width: 768px) and (max-width: 1439px){
//   height: 226px;
// }
// }
