.item-text {
  
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #487996;
@media screen and (min-width: 1440px){
 
  font-weight: 300;
  font-size: 18px;
  line-height: 1.28;
  text-align: center;
  color: #487996;
}
}

.scanning-img {
  text-align: center;
  background: #FFFFFF;
  opacity: 0.8;
  box-shadow: inset 1px 1px 16px #CBCBCB, inset -1px -1px 16px #FFFFFF;
  border-radius: 50px 0px;
  padding: 15px 19px;
  @media screen and (min-width: 768px) and (max-width: 1439px){
    padding: 28.5px 21px;
  }
@media screen and (min-width: 1440px) {
  padding: 51px 40px;
  }
}

.scanning-img-item{
  @media screen and (min-width: 1440px) {
    display: inline-block;
    width: 100%;
    }
  }

.scanning-process {
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  column-gap: 20px;
  justify-content: center;
  // margin-left: calc(-1 * 20px);
  // margin-top: calc(-1 * 16px);
}

.scanning-process>.scanning-img {
  width: calc((100% - 40px) / 2);
  @include tablet{
    flex-basis: calc((100% - 96px) / 4);
  }
  // margin-left: 20px;
  // margin-top: 16px;

}

.scanning-item-description {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
}

.padding-btn{
  margin-top: 40px;
  margin-bottom: 60px;
  @media screen and (min-width: 768px) and (max-width: 1439px){
    margin-top: 60px;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1440px){
    margin-top: 80px;
    margin-bottom: 80px;
  }
}
