<section class="modeling-create">
  <div class="container create">
    <h2 class="modeling-title-description">ми створюємо фотореалістичні<br> зображення моделей</h2>
    <ul class="list models-list">
 <li class="models-picture">
     <picture class="models-picture-draft">
       <source srcset="
               ./images/3d/modeling1-desktop-1x.jpg 1x,
               ./images/3d/modeling1-desktop-2x.jpg 2x
             " media="(min-width:1440px)" />
       <source srcset="
               ./images/3d/modeling1-tab-1x.jpg 1x,
               ./images/3d/modeling1-tab-2x.jpg 2x
             " media="(min-width:768px)" />
       <source srcset="
               ./images/3d/modeling1-mob-1x.jpg 1x,
               ./images/3d/modeling1-mob-2x.jpg 2x
             " media="(max-width:767px)" />
       <img src="./images/3d/modeling1-desktop-1x.jpg" alt="Деталь 1" />
     </picture>
    </li>
<li class="models-picture">
             <picture class="models-picture-draft">
               <source srcset="
               ./images/3d/modeling2-desktop-1x.jpg 1x, 
               ./images/3d/modeling2-desktop-2x.jpg 2x" media="(min-width:1440px)" />
       <source srcset="
               ./images/3d/modeling2-tab-1x.jpg 1x,
               ./images/3d/modeling2-tab-2x.jpg 2x
             " media="(min-width:768px)" />
       <source srcset="
               ./images/3d/modeling2-mob-1x.jpg 1x,
               ./images/3d/modeling2-mob-2x.jpg 2x
             " media="(max-width:767px)" />
       <img src="./images/3d/modeling2-desktop-1x.jpg" alt="Деталь 2" />
   </picture>
 </li>
  <li class="models-picture">
   <picture class="models-picture-draft">
     <source srcset="
               ./images/3d/modeling3-desktop-1x.jpg 1x,
               ./images/3d/modeling3-desktop-2x.jpg 2x" media="(min-width:1440px)"/>
       <source srcset="
               ./images/3d/modeling3-tab-1x.jpg 1x,
               ./images/3d/modeling3-tab-2x.jpg 2x
             " media="(min-width:768px)" />
       <source srcset="
               ./images/3d/modeling3-mob-1x.jpg 1x,
               ./images/3d/modeling3-mob-2x.jpg 2x
             " media="(max-width:767px)" />
     <img src="./images/3d/modeling3-desktop-1x.jpg" alt="Деталь 3" />
   </picture>
 </li>
<li class="models-picture">
   <picture class="models-picture-draft">
     <source srcset="
               ./images/3d/modeling4-desktop-1x.jpg 1x,
               ./images/3d/modeling4-desktop-2x.jpg 2x " 
               media="(min-width:1440px)"/>
       <source srcset="
               ./images/3d/modeling4-tab-1x.jpg 1x,
               ./images/3d/modeling4-tab-2x.jpg 2x
             " media="(min-width:768px)" />
       <source srcset="
               ./images/3d/modeling4-mob-1x.jpg 1x,
               ./images/3d/modeling4-mob-2x.jpg 2x
             " media="(max-width:767px)" />
     <img src="./images/3d/modeling4-desktop-1x.jpg" alt="Деталь 4" />
   </picture>
 </li>
</ul>
<div class="modeling-petals-block">
  <div class="modeling-create-petals modeling-create-68"></div>
  <div class="modeling-create-petals modeling-create-67"></div>
  <div class="modeling-create-petals modeling-create-65"></div>
  <div class="modeling-create-petals modeling-create-46"></div>
</div> 
 <!-- Order Form Button -->
<div class="btn-box">
 <a href="./order.html" class="btn modeling-btn">зробити замовлення</a>
</div>
</div>
 </section>
