<!-- Big Foto -->
<section class="big-foto" id="big-foto">
    <div class="container bigfoto">
        <h2 class="bfoto-text">більше фото</h2>
        <ul class="bfoto-list">
            <li class="bfoto-image">
                <a href="./images/big-foto-des/bf-3d-des-1-x2.jpg" data-fancybox="gallery" data-caption="">
                    <picture class="ddd">
                        <source srcset="
                    ./images/big-foto-des/bf-3d-des-1-x1.jpg 1x,
                    ./images/big-foto-des/bf-3d-des-1-x2.jpg  2x
                  " media="(min-width:1440px)" />
                        <source srcset="
                    ./images/big-foto-tab/bf-3d-tab-1-x1.jpg 1x,
                    ./images/big-foto-tab/bf-3d-tab-1-x2.jpg 2x
                  " media="(min-width:768px)" />
                        <source srcset="
                    ./images/big-foto-mob/bf-3d-mob4-1-x1.jpg 1x,
                    ./images/big-foto-mob/bf-3d-mob4-1-x2.jpg 2x
                  " media="(max-width:767px)" />
                        <img src="./images/big-foto-mob/bf-3d-mob-1-x1.jpg" alt="фото набір 3D моделей" />
                    </picture>
                </a>
            </li>
            <li class="bfoto-image">
                <a href="./images/big-foto-des/bf-3d-des-2-x2.jpg" data-fancybox="gallery" data-caption="">
                    <picture class="ddd">
                        <source srcset="
                    ./images/big-foto-des/bf-3d-des-2-x1.jpg 1x,
                    ./images/big-foto-des/bf-3d-des-2-x2.jpg  2x
                  " media="(min-width:1440px)" />
                        <source srcset="
                    ./images/big-foto-tab/bf-3d-tab-2-x1.jpg 1x,
                    ./images/big-foto-tab/bf-3d-tab-2-x2.jpg 2x
                  " media="(min-width:768px)" />
                        <source srcset="
                    ./images/big-foto-mob/bf-3d-mob4-2-x1.jpg 1x,
                    ./images/big-foto-mob/bf-3d-mob4-2-x2.jpg 2x
                  " media="(max-width:767px)" />
                        <img src="./images/big-foto-des/bf-3d-des-2-x1.jpg" alt="фото 3d модель об'єкта" />
                    </picture>
                </a>
            </li>
            <li class="bfoto-image">
                <a href="./images/big-foto-des/bf-3d-des-3-x2.jpg " data-fancybox="gallery" data-caption="">
                    <picture class="ddd">
                        <source srcset="
                    ./images/big-foto-des/bf-3d-des-3-x1.jpg 1x,
                    ./images/big-foto-des/bf-3d-des-3-x2.jpg  2x
                  " media="(min-width:1440px)" />
                        <source srcset="
                    ./images/big-foto-tab/bf-3d-tab-3-x1.jpg 1x,
                    ./images/big-foto-tab/bf-3d-tab-3-x2.jpg 2x
                  " media="(min-width:768px)" />
                        <source srcset="
                    ./images/big-foto-mob/bf-3d-mob4-3-x1.jpg 1x,
                    ./images/big-foto-mob/bf-3d-mob4-3-x2.jpg 2x
                  " media="(max-width:767px)" />
                        <img src="./images/big-foto-des/bf-3d-des-3-x1.jpg" alt="фото 3d модель робот" />
                    </picture>
                </a>
            </li>
            <li class="bfoto-image hid">
                <a href="./images/big-foto-des/bf-3d-des-4-x2.jpg " data-fancybox="gallery" data-caption="">
                    <picture class="ddd">
                        <source srcset="
                    ./images/big-foto-des/bf-3d-des-4-x1.jpg 1x,
                    ./images/big-foto-des/bf-3d-des-4-x2.jpg  2x
                  " media="(min-width:1440px)" />
                        <source srcset="
                    ./images/big-foto-tab/bf-3d-tab-4-x1.jpg 1x,
                    ./images/big-foto-tab/bf-3d-tab-4-x2.jpg 2x
                  " media="(min-width:768px)" />
                        <source srcset="
                    ./images/big-foto-mob/bf-3d-mob4-4-x1.jpg 1x,
                    ./images/big-foto-mob/bf-3d-mob4-4-x2.jpg 2x
                  " media="(max-width:768px)" />
                        <img src="./images/big-foto-des/bf-3d-des-4-x1.jpg" alt="фото 3d модель череп" />
                    </picture>
                </a>
            </li>
            <li class="bfoto-image hid">
                <a href="./images/big-foto-des/bf-3d-des-5-x2.jpg " data-fancybox="gallery" data-caption="">
                    <picture class="ddd">
                        <source srcset="
                    ./images/big-foto-des/bf-3d-des-5-x1.jpg 1x,
                    ./images/big-foto-des/bf-3d-des-5-x2.jpg  2x
                  " media="(min-width:1440px)" />
                        <source srcset="
                    ./images/big-foto-tab/bf-3d-tab-5-x1.jpg 1x,
                    ./images/big-foto-tab/bf-3d-tab-5-x2.jpg 2x
                  " media="(min-width:768px)" />
                        <source srcset="
                    ./images/big-foto-mob/bf-3d-mob4-5-x1.jpg 1x,
                    ./images/big-foto-mob/bf-3d-mob4-5-x2.jpg 2x
                  " media="(max-width:768px)" />
                        <img src="./images/big-foto-des/bf-3d-des-5-x1.jpg" alt="фото 3d модель танк T-29" />
                    </picture>
                </a>
            </li>
            <li class="bfoto-image hid">
                <a href="./images/big-foto-des/bf-3d-des-6-x2.jpg " data-fancybox="gallery" data-caption="">
                    <picture class="ddd">
                        <source srcset="
                    ./images/big-foto-des/bf-3d-des-6-x1.jpg 1x,
                    ./images/big-foto-des/bf-3d-des-6-x2.jpg  2x
                  " media="(min-width:1440px)" />
                        <source srcset="
                    ./images/big-foto-tab/bf-3d-tab-6-x1.jpg 1x,
                    ./images/big-foto-tab/bf-3d-tab-6-x2.jpg 2x
                  " media="(min-width:768px)" />
                        <source srcset="
                    ./images/big-foto-mob/bf-3d-mob4-6-x1.jpg 1x,
                    ./images/big-foto-mob/bf-3d-mob4-6-x2.jpg 2x
                  " media="(max-width:768px)" />
                        <img src="./images/big-foto-des/bf-3d-des-6-x1.jpg"
                            alt="фото 3d модель дві настільні лампи, помаранчева та біла" />
                    </picture>
                </a>
            </li>
            <li class="bfoto-image hid">
                <a href="./images/big-foto-des/bf-3d-des-7-x2.jpg  " data-fancybox="gallery" data-caption="">
                    <picture class="ddd">
                        <source srcset="
                    ./images/big-foto-des/bf-3d-des-7-x1.jpg 1x,
                    ./images/big-foto-des/bf-3d-des-7-x2.jpg  2x
                  " media="(min-width:1440px)" />
                        <source srcset="
                    ./images/big-foto-tab/bf-3d-tab-7-x1.jpg 1x,
                    ./images/big-foto-tab/bf-3d-tab-7-x2.jpg 2x
                  " media="(min-width:768px)" />
                        <source srcset="
                    ./images/big-foto-mob/bf-3d-mob4-7-x1.jpg 1x,
                    ./images/big-foto-mob/bf-3d-mob4-7-x2.jpg 2x
                  " media="(max-width:768px)" />
                        <img src="./images/big-foto-des/bf-3d-des-7-x1.jpg" alt="фото 3d модель кузов автомобіля" />
                    </picture>
                </a>
            </li>
            <li class="bfoto-image hid">
                <a href="./images/big-foto-des/bf-3d-des-8-x2.jpg  " data-fancybox="gallery" data-caption="">
                    <picture class="ddd">
                        <source srcset="
                    ./images/big-foto-des/bf-3d-des-8-x1.jpg 1x,
                    ./images/big-foto-des/bf-3d-des-8-x2.jpg  2x
                  " media="(min-width:1440px)" />
                        <source srcset="
                    ./images/big-foto-tab/bf-3d-tab-8-x1.jpg 1x,
                    ./images/big-foto-tab/bf-3d-tab-8-x2.jpg 2x
                  " media="(min-width:768px)" />
                        <source srcset="
                    ./images/big-foto-mob/bf-3d-mob4-8-x1.jpg 1x,
                    ./images/big-foto-mob/bf-3d-mob4-8-x2.jpg 2x
                  " media="(max-width:768px)" />
                        <img src="./images/big-foto-des/bf-3d-des-8-x1.jpg" alt="фото 3d модель Пізанська вежа" />
                    </picture>
                </a>
            </li>
            <li class="bfoto-image hid">
                <a href="./images/big-foto-des/bf-3d-des-9-x2.jpg  " data-fancybox="gallery" data-caption="">
                    <picture class="ddd">
                        <source srcset="
                    ./images/big-foto-des/bf-3d-des-9-x1.jpg 1x,
                    ./images/big-foto-des/bf-3d-des-9-x2.jpg  2x
                  " media="(min-width:1440px)" />
                        <source srcset="
                    ./images/big-foto-tab/bf-3d-tab-9-x1.jpg 1x,
                    ./images/big-foto-tab/bf-3d-tab-9-x2.jpg 2x
                  " media="(min-width:768px)" />
                        <source srcset="
                    ./images/big-foto-mob/bf-3d-mob4-9-x1.jpg 1x,
                    ./images/big-foto-mob/bf-3d-mob4-9-x2.jpg 2x
                  " media="(max-width:768px)" />
                        <img src="./images/big-foto-des/bf-3d-des-9-x1.jpg" alt="фото 3d модель Гриб-лампа" />
                    </picture>
                </a>
            </li>
            <li class="bfoto-image hid">
                <a href="./images/big-foto-des/bf-3d-des-10-x2.jpg  " data-fancybox="gallery" data-caption="">
                    <picture class="ddd">
                        <source srcset="
                    ./images/big-foto-des/bf-3d-des-10-x1.jpg 1x,
                    ./images/big-foto-des/bf-3d-des-10-x2.jpg  2x
                  " media="(min-width:1440px)" />
                        <source srcset="
                    ./images/big-foto-tab/bf-3d-tab-10-x1.jpg 1x,
                    ./images/big-foto-tab/bf-3d-tab-10-x2.jpg 2x
                  " media="(min-width:768px)" />
                        <source srcset="
                    ./images/big-foto-mob/bf-3d-mob4-10-x1.jpg 1x,
                    ./images/big-foto-mob/bf-3d-mob4-10-x2.jpg 2x
                  " media="(max-width:768px)" />
                        <img src="./images/big-foto-des/bf-3d-des-10-x1.jpg" alt="фото 3d модель термос" />
                    </picture>
                </a>
            </li>
            <li class="bfoto-image hid">
                <a href="./images/big-foto-des/bf-3d-des-11-x2.jpg  " data-fancybox="gallery" data-caption="">
                    <picture class="ddd">
                        <source srcset="
                    ./images/big-foto-des/bf-3d-des-11-x1.jpg 1x,
                    ./images/big-foto-des/bf-3d-des-11-x2.jpg 2x
                  " media="(min-width:1440px)" />
                        <source srcset="
                    ./images/big-foto-tab/bf-3d-tab-11-x1.jpg 1x,
                    ./images/big-foto-tab/bf-3d-tab-11-x2.jpg 2x
                  " media="(min-width:768px)" />
                        <source srcset="
                    ./images/big-foto-mob/bf-3d-mob4-11-x1.jpg 1x,
                    ./images/big-foto-mob/bf-3d-mob4-11-x2.jpg 2x
                  " media="(max-width:768px)" />
                        <img src="./images/big-foto-des/bf-3d-des-11-x1.jpg" alt="фото 3d модель кібер трак тесла" />
                    </picture>
                </a>
            </li>
            <li class="bfoto-image hid">
                <a href="./images/big-foto-des/bf-3d-des-12-x2.jpg  " data-fancybox="gallery" data-caption="">
                    <picture class="ddd">
                        <source srcset="
                    ./images/big-foto-des/bf-3d-des-12-x1.jpg 1x,
                    ./images/big-foto-des/bf-3d-des-12-x2.jpg  2x
                  " media="(min-width:1440px)" />
                        <source srcset="
                    ./images/big-foto-tab/bf-3d-tab-12-x1.jpg 1x,
                    ./images/big-foto-tab/bf-3d-tab-12-x2.jpg 2x
                  " media="(min-width:768px)" />
                        <source srcset="
                    ./images/big-foto-mob/bf-3d-mob4-12-x1.jpg 1x,
                    ./images/big-foto-mob/bf-3d-mob4-12-x2.jpg 2x
                  " media="(max-width:768px)" />
                        <img src="./images/big-foto-des/bf-3d-des-12-x1.jpg"
                            alt="фото 3d модель підставка для рослин" />
                    </picture>
                </a>
            </li>
        </ul>
        <button type="button" class="but-open-foto">
            <svg class="open-foto" width="44" height="44">
                <use href="./images/icon.svg#loader"></use>
            </svg>
        </button>
    </div>
</section>