<section class="main-hero">
  <div class="container main-hero">
    <h1 class="container main-hero-name">
      Інженерна, конструкторська та дизайнерська робота
    </h1>
    <div class="main-hero-photo">
      <ul class="main-hero-item">
        <li class="main-hero-list">
          <picture>
            <source
              srcset="
                /src/images/hero/hero1-desc-1x.jpg 1x,
                /src/images/hero/hero1-desc-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                /src/images/hero/hero1-tabl-1x.jpg 1x,
                /src/images/hero/hero1-tabl-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /src/images/hero/hero1-mobl-1x.jpg 1x,
                /src/images/hero/hero1-mobl-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img src="/src/images/hero/hero1-mobl-1x.jpg" alt="3Д-модель" />
          </picture>
        </li>

        <li class="main-hero-list">
          <picture>
            <source
              srcset="
                /src/images/hero/hero2-desc-1x.jpg 1x,
                /src/images/hero/hero2-desc-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                /src/images/hero/hero2-tabl-1x.jpg 1x,
                /src/images/hero/hero2-tabl-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /src/images/hero/hero2-mobl-1x.jpg 1x,
                /src/images/hero/hero2-mobl-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img src="/src/images/hero/hero2-desc-1x.jpg" alt="3Д-модель" />
          </picture>
        </li>
        <li class="main-hero-list">
          <picture>
            <source
              srcset="
                /src/images/hero/hero3-desc-1x.jpg 1x,
                /src/images/hero/hero3-desc-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                /src/images/hero/hero3-tabl-1x.jpg 1x,
                /src/images/hero/hero3-tabl-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /src/images/hero/hero3-mobl-1x.jpg 1x,
                /src/images/hero/hero3-mobl-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img src="/src/images/hero/hero3-desc-1x.jpg" alt="3Д-модель" />
          </picture>
        </li>
      </ul>
    </div>

    <h2 class="main-hero-text">Ми втілюємо ідеї в реальність</h2>

    <div class="petal-wrap hero-petal-wrap">
      <div class="petal petal-img1"></div>
      <div class="petal petal-img2"></div>
      <div class="petal petal-arrow">
        <a class="arrow-link link" href="#big-foto">
          <svg class="arrow-icon" width="16" height="16">
            <use href="./images/icon.svg#link-arrow"></use>
          </svg>
        </a>
      </div>
      <div class="petal petal-img3"></div>
      <div class="petal petal-img4"></div>
      <div class="petal petal-no-img"></div>
    </div>
  </div>
</section>
