<section class="gallery">
  <div class="container glr">
    <h2 class="gl-text">ГАЛЕРЕЯ</h2>
    <div class="gallery-wrap">
      <ul class="gallery-list">
        <li class="gallery-image-jpg">
          <picture>
            <source srcset="
                    ./images/gallery/inzhenernye-des-x1.jpg 1x,
                    ./images/gallery/inzhenernye-des-x2.jpg 2x" media="(min-width:1440px)" />
            <source srcset="
                    ./images/gallery/inzhenernye-tab-x1.jpg 1x,
                    ./images/gallery/inzhenernye-tab-x2.jpg 2x
                  " media="(min-width:768px)" />
            <source srcset="
                    ./images/gallery/inzhenernye4-mob-x1.jpg 1x,
                    ./images/gallery/inzhenernye4-mob-x2.jpg 2x
                  " media="(max-width:767px)" />
            <img src="./images/gallery/inzhenernye-mob-x1.jpg" alt="фото inzenernye" />
          </picture>
          <h3 class="gallery-text">
            Інженерні методи аналізу та контролю якості
          </h3>
        </li>
        <li class="gallery-image-jpg">
          <picture>
            <source srcset="
                    ./images/gallery/vusokotochnoe-des-x1.jpg 1x,
                    ./images/gallery/vusokotochnoe-des-x2.jpg 2x
                  " media="(min-width:1440px)" />
            <source srcset="
                    ./images/gallery/vusokotochnoe-tab-x1.jpg 1x,
                    ./images/gallery/vusokotochnoe-tab-x2.jpg 2x
                  " media="(min-width:768px)" />
            <source srcset="
                    ./images/gallery/vusokotochnoe4-mob-x1.jpg 1x,
                    ./images/gallery/vusokotochnoe4-mob-x2.jpg 2x
                  " media="(max-width:767px)" />
            <img src="./images/gallery/vusokotochnoe-mob-x1.jpg" alt="фото inzenernye" />
          </picture>
          <h3 class="gallery-text">Високоточне 3D сканування</h3>
        </li>
        <li class="gallery-image-jpg">
          <picture>
            <source srcset="
                    ./images/gallery/sozdanie-des-x1.jpg 1x,
                    ./images/gallery/sozdanie-des-x2.jpg 2x
                  " media="(min-width:1440px)" />
            <source srcset="
                    ./images/gallery/sozdanie-tab-x1.jpg 1x,
                    ./images/gallery/sozdanie-tab-x2.jpg 2x
                  " media="(min-width:768px)" />
            <source srcset="
                    ./images/gallery/sozdanie4-mob-x1.jpg 1x,
                    ./images/gallery/sozdanie4-mob-x2.jpg 2x
                  " media="(max-width:767px)" />
            <img src="./images/gallery/sozdanie-des-x1.jpg" alt="фото inzenernye" />
          </picture>
          <h3 class="gallery-text">
            Створення точної копії на базі сканування reverse engineering
          </h3>
        </li>
        <li class="gallery-image-jpg">
          <picture>
            <source srcset="
                    ./images/gallery/vse-cuklu-des-x1.jpg 1x,
                    ./images/gallery/vse-cuklu-des-x2.jpg  2x
                  " media="(min-width:1440px)" />
            <source srcset="
                    ./images/gallery/vse-cuklu-tab-x1.jpg 1x,
                    ./images/gallery/vse-cuklu-tab-x2.jpg 2x
                  " media="(min-width:768px)" />
            <source srcset="
                    ./images/gallery/vse-cuklu4-mob-x1.jpg 1x,
                    ./images/gallery/vse-cuklu4-mob-x2.jpg 2x
                  " media="(max-width:767px)" />
            <img src="./images/gallery/vse-cuklu-mob-x1.jpg" alt="фото inzenernye" />
          </picture>
          <h3 class="gallery-text">
            Всі цикли 3D проектування, створення фотореалістичних цифрових
            моделей
          </h3>
        </li>
      </ul>
    </div>
  </div>
  <!-- лепестки галерея -->
  <div class="gallery-petal-wr">
    <div class="glpet gallery-img1"></div>
    <div class="glpet gallery-img2"></div>
    <div class="glpet gallery-img3"></div>
    <div class="glpet gallery-img4"></div>
  </div>
</section>