/* gallery */
.gallery {
  padding-top: 40px;
  position: relative;
  overflow-x: hidden;
}

@media screen and (min-width: 768px) {
  .gallery {
    padding-top: 60px;
  }
}

@media screen and (min-width: 1440px) {
  .gallery {
    padding-top: 120px;
  }
}
.glr {
  position: relative;
}


@media screen and (min-width: 768px) {
  .glr {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .glr {
    padding-left: 149px;
    padding-right: 149px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* !!!!!!! */

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

@media screen and (min-width: 768px) {
  .gallery-list {
    gap: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .gallery-list {
    gap: 40px 32px;
  }
}

.gallery-image-jpg {
  width: 100%;
}

.gallery-image-jpg img {
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .gallery-image-jpg {
    width: calc((100% - 32px) / 2);
  }
}

@media screen and (min-width: 1440px) {
  .gallery-image-jpg {
    width: calc((100% - 32px) / 2);
  }
}

.gallery-text {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: calc(20 / 16);
  margin-top: 8px;
  color: #487996;
}

@media screen and (min-width: 768px) {
  .gallery-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .gallery-text {
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
  }
}

.gl-text {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(30 / 24);
  margin-bottom: 16px;
  color: #487996;
}

@media screen and (min-width: 768px) {
  .gl-text {
    margin-bottom: 32px;
    font-size: 36px;
    line-height: 45px;
  }
}

@media screen and (min-width: 1440px) {
  .gl-text {
    margin-bottom: 62px;
    font-size: 48px;
    line-height: 60px;
  }
}
/* лепестки галерея */
.glpet {
  position: absolute;
  width: 74px;
  height: 74px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  background-color:#ffffff;
  z-index: -1;
  top: 0;
}

.gallery-img1 {
  border-radius: 0px 0px 35px 0px;
  left: -29px;
}

@media screen and (min-width: 768px) {
  .gallery-img1 {
    top: 18px;
    left: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .gallery-img1 {
    width: 110px;
    height: 144px;
    top: 124px;
    left: 30px;
    border-radius: 0px 0px 72px 0px;
  }
}

.gallery-img2 {
  border-radius: 25px 0px;
  top: 343px;
  left: -17px;
}

@media screen and (min-width: 768px) {
  .gallery-img2 {
    top: 232px;
    left: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .gallery-img2 {
    width: 140px;
    height: 161px;
    top: 523px;
    left: 30px;
    border-radius: 72px 0px;
  }
}

.gallery-img3 {
  border-radius: 50%;
  top: 280px;
  right: -15px;
}

@media screen and (min-width: 768px) {
  .gallery-img3 {
    top: 168px;
    right: -17px;
  }
}

@media screen and (min-width: 1440px) {
  .gallery-img3 {
    width: 145px;
    height: 145px;
    top: 444px;
    right: -64px;
  }
}

.gallery-img4 {
  border-radius: 35px 0px 0px 0px;
  top: 95px;
  right: 32px;
}

@media screen and (max-width: 767px) {
  .gallery-img4 {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .gallery-img4 {
    width: 142px;
    height: 144px;
    top: 300px;
    right: 32px;
    border-radius: 72px 0px 0px 0px;
  }
}
