header {
  background-color: transparent;
  height: 74px;
  background-color: #fff;

  .container {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    z-index: 1;

    @media screen and (min-width: 1200px) and (max-width: 1439.5px) {
      max-width: 1200px;
    }
  }

  @media screen and (min-width: 1200px) {
    height: 130px;
  }
}

.header-logo {
  z-index: 1;

  @media screen and (min-width: 1200px) {
    margin-right: 100px;
  }

  @include desktop {
    margin-right: 258px;
  }
}

.navigation {
  @media screen and (max-width: 1199.5px) {
    display: none;
  }
}

.navigation-list {
  display: flex;
  gap: 56px;
  text-align: center;
}

.navigation-item {
  z-index: 1;
}

.navigation-item:first-child {
margin-right: 136px;
}

.navigation-link {
  font-family: Caviar Dreams, sans-serif;
  @include fonts(null, 18px, 1.17, 0.01, null, null);
  color: #2B2B2B;
  padding: 2px 4px;
  border-radius: 4px;
  outline: 0;
  transition-duration: 250ms;
  transition-timing-function: ease;
  

  &:hover, &:focus {
    color: #fff;
    background-color: rgba(72, 121, 150, 0.5);
  }
}

.services-list {
  transform: scale(0);
  transition-duration: 250ms;
  transition-timing-function: ease;

  li {
    margin-top: 4px;
  }
  .navigation-link {
    @include fonts(null, 16px, 1.19, null, null, null);
  }

  .services:hover &, .services:focus-within & {
  transform: scale(1);
  }
}

.services {
  position: absolute;
  top: 41px;
  left: 425px;
  width: 144px;
  height: 114px;
  padding-top: 13px;
  border-radius: 0px 0px 72px 72px;
  transition-duration: 250ms;
  transition-timing-function: ease;

  span {
    font-family: Caviar Dreams, sans-serif;
    @include fonts(null, 18px, 1.17, 0.01, null, null);
    color: #2B2B2B;
  }

  &:hover {
    background-color: #ffffff;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  }

  
  @include desktop {
    left: 585px;
  }
}

.span-wrapper {
  position: relative;
}

.span-wrapper::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 4px;
  transition-duration: 250ms;
  transition-timing-function: ease;
  transform-origin: top;
  
  width: 0;
height: 0;
border-style: solid;
border-width: 5px 5px 0 5px;
border-color: #008bef transparent transparent transparent;

.services:hover & {
    transform: rotate(180deg);
    }
}

.menu-open {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 32px;
  height: 32px;
  border: 0;
  border-radius: 7px;
  background-color: transparent;
  cursor: pointer;
  outline: 0;
  transition-duration: 250ms;
  transition-timing-function: ease;

  &:hover,
  &:focus {
    background-color: rgba(72, 121, 150, 0.5);
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.menu-open-icon {
  fill: #487996;
  transition-duration: 250ms;
  transition-timing-function: ease;

  .menu-open:hover & {
    fill: #ffffff;
  }
}

.lang {
  z-index: 1;
  margin-left: auto;

  @include tablet {
    margin-right: 33px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 115px;
  }
}

.lang-item:nth-child(odd) {
  transform: scale(0);
  transition: transform 250ms ease;

  .lang:hover &,
  .lang:focus-within & {
    transform: scale(1);    
  }
}

.lang-btn {
  padding: 2px 4px;
  font-family: Caviar Dreams, sans-serif;
  @include fonts(700, 14px, 1.28, 0.01, uppercase, null);
  color: #bdbdbd;
  border-radius: 4px;
  outline: none;
  border: none;
  background-color: transparent;
  transition-duration: 250ms;
  transition-timing-function: ease;

  &:hover,
  &:focus {
    color: #fff;
    background-color: rgba(72, 121, 150, 0.5);
  }
}

.mobile-tel {
  position: absolute;
  display: flex;
  top: 24px;
  right: 75px;
  width: 24px;
  height: 24px;
  padding: 2px 4px;
  border-radius: 7px;
  outline: 0;
  transition-duration: 250ms;
  transition-timing-function: ease;

  &:hover,
  &:focus {
    color: #fff;
    background-color: rgba(72, 121, 150, 0.5);
  }

  @include tablet {
    display: none;
  }
}

.tel-icon {
  transition-duration: 250ms;
  transition-timing-function: ease;
  fill: #008CEF;

  .mobile-tel:hover & {
    fill: #ffffff;
  }
}

.tel-list {
  @media screen and (max-width: 767.5px) {
    position: absolute;
    top: 60px;
    right: 10px;
    border-radius: 2px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    padding: 16px 7px;
    background-color: #ffffff;
    z-index: 1;
    transform: scale(0);
  transition: transform 250ms ease;
  }

  &:hover {
    transform: none;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: 84%;
    left: 50%;
    transform: rotate(45deg) translate(-50%);
    width: 15px;
    height: 15px;
    border-radius: 2px;
    background-color: #ffffff;

    @include tablet {
      display: none;
    }
  }

  .mobile-tel:hover + & {
    transform: scale(1);
  }
}

.tel-item:first-child {
  margin-bottom: 10px;
}

.tel {
  text-decoration: none;
  @include fonts(null, 16px, 1.25, 0.01, null, null);
  color: #2b2b2b;
  transition-duration: 250ms;
  transition-timing-function: ease;
  padding: 2px 4px;
    border-radius: 4px;
    outline: 0;  

  &:hover,
  &:focus {
    color: #fff;
    background-color: rgba(72, 121, 150, 0.5);
  }
}

.tel-list-icon {
  display: inline-block;
  margin-right: 4px;
  transition-duration: 250ms;
  transition-timing-function: ease;
  fill: #008CEF;

  @media screen and (max-width: 767.5px) {
    display: none;
  }

  @include desktop {
    margin-right: 8px;
  }

  .tel:hover &, .tel:focus & {
    fill: #ffffff;
  }
}

.petal {
  position: absolute;
  width: 74px;
  height: 74px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  background-size: cover;
}

.header-petal {
  top: 0;

  @media screen and (min-width: 1200px) {
    width: 144px;
    height: 144px;
  }

  &.left {
    left: 0;
    border-radius: 0px 35px 35px 0px;

    @include tablet {
      left: 232px;
    }

    @media screen and (min-width: 1200px) {
      left: 291px;
      border-radius: 0px 72px 72px 0px;
    }
  }

  &.right {
    right: 0;
    border-radius: 35px 0px 0px 35px;

    @include tablet {
      right: 216px;
    }

    @media screen and (min-width: 1200px) {
      right: 266px;
      border-radius: 72px 0px 0px 72px;
    }
  }
}


