header {
  background-color: transparent;
  height: 74px;
  background-color: #fff;

  .container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  @include desktop {
    height: 130px;
  }
}

.header-logo {
  z-index: 1;
}

.navigation {
  @media screen and (max-width: 1439.5px) {
    display: none;
  }
}

.menu-open {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 32px;
  height: 32px;
  border: 0;
  margin-right: 48px;
  background-color: transparent;
  cursor: pointer;

  @include desktop {
    display: none;
  }
}

.lang {
  z-index: 1;
  @media screen and (min-width: 768px) and (max-width: 1439.5px) {
    margin-left: auto;
    margin-right: 43px;
  }
  // @include desktop {
  //   margin-right: 119px;
  // }
}

.lang-item:first-child {
  transform: translateY(100%);
}

.lang-item:last-child {
  transform: translateY(-100%);
}

.lang-item:nth-child(odd) {
  opacity: 0;
  transition-property: transform opacity;
  transition-duration: 250ms;
  transition-timing-function: linear;

  .lang:hover &,
  .lang:focus-within & {
    transform: translate(0);
    opacity: 1;
  }
}

.lang-link {
  padding: 0 3px;
  // font-family: Caviar Dreams, sans-serif;
  @include fonts(700, 14px, 1.28, 0.01, uppercase, null);
  color: #bdbdbd;
  border-radius: 3px;
  outline: none;

  &:hover,
  &:focus {
    color: #fff;
    background-color: rgba(72, 121, 150, 0.5);
  }
}

.mobile-tel {
  position: absolute;
  top: 24px;
  right: 75px;
  width: 24px;
  height: 24px;

  @include tablet {
    display: none;
  }
}

.tel-list {
  @media screen and (max-width: 767.5px) {
    position: absolute;
    top: 60px;
    right: 10px;
    border-radius: 2px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    padding: 16px 7px;
    background-color: #ffffff;
    z-index: 1;
  }
}

.polygon {
  position: absolute;
  bottom: 78%;
  left: 50%;
  transform: rotate(45deg) translate(-50%);
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background-color: #ffffff;
}

.tel-item:first-child {
  margin-bottom: 10px;
}

.tel {
  text-decoration: none;
  @include fonts(null, 16px, 1.25, 0.01, null, null);
  color: #2b2b2b;

  svg {
    display: inline-block;
    margin-right: 4px;

    @include desktop {
      margin-right: 8px;
    }
  }
}

.tel-list-icon {
  @media screen and (max-width: 767.5px) {
    display: none;
  }
}

.header-petal {
  position: absolute;
  top: 0;
  width: 74px;
  height: 74px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;

  @include desktop {
    width: 144px;
    height: 144px;
  }

  &.left {
    left: 0;
    border-radius: 0px 35px 35px 0px;

    @include tablet {
      left: 232px;
    }

    @include desktop {
      left: 291px;
      border-radius: 0px 72px 72px 0px;
    }
  }

  &.right {
    right: 0;
    border-radius: 35px 0px 0px 35px;

    @include tablet {
      right: 216px;
    }

    @include desktop {
      right: 266px;
      border-radius: 72px 0px 0px 72px;
    }
  }
}
