<section class="printing-examples">
  <div class="container">
    <div class="project">
      <h1 class="examples-title">МИ СТВОРЮЄМО</h1>
      <ul class="examples-list list">
        <li class="examples-item">
          <div class="product">
            <picture>
              <source
                srcset="
                  ./images/printing-examples/product-decst1.png  1x,
                  ./images/printing-examples/product-decst2x.png 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./images/printing-examples/product-tablet1.png  1x,
                  ./images/printing-examples/product-tablet2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/printing-examples/product-mob1.png  1x,
                  ./images/printing-examples/product-mob2x.png 2x
                "
              />
              <img
                class="position"
                src="./images/printing-examples/product-mob1.png"
                alt="ПРОТОТИПИ"
              />
            </picture>
          </div>
          <h3 class="examples-pre-title">ПРОТОТИПИ</h3>
        </li>
        <li class="examples-item">
          <div class="macet">
            <picture>
              <source
                srcset="
                  ./images/printing-examples/macet-decst1.png  1x,
                  ./images/printing-examples/macet-decst2x.png 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./images/printing-examples/macet-tablet1.png  1x,
                  ./images/printing-examples/macet-tablet2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/printing-examples/macet-mob1.png  1x,
                  ./images/printing-examples/macet-mob2x.png 2x
                "
              />
              <img
                class="position"
                src="./images/printing-examples/macet-mob1.png"
                alt="МАКЕТИ"
              />
            </picture>
          </div>
          <h3 class="examples-pre-title">МАКЕТИ</h3>
        </li>
        <li class="examples-item">
          <div class="decor">
            <picture>
              <source
                srcset="
                  ./images/printing-examples/decor-decst1.png  1x,
                  ./images/printing-examples/decor-decst2x.png 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./images/printing-examples/decor-tablet1.png  1x,
                  ./images/printing-examples/decor-tablet2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/printing-examples/decor-mob1.png  1x,
                  ./images/printing-examples/decor-mob2x.png 2x
                "
              />
              <img
                class="position"
                src="./images/printing-examples/decor-mob1.png"
                alt="МАКЕТИ"
              />
            </picture>
          </div>
          <h3 class="examples-pre-title">ДЕКОР</h3>
        </li>
        <li class="examples-item">
          <div class="coub">
            <picture>
              <source
                srcset="
                  ./images/printing-examples/coub-decst1.png  1x,
                  ./images/printing-examples/coub-decst2x.png 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./images/printing-examples/coub-tablet1.png  1x,
                  ./images/printing-examples/coub-tablet2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/printing-examples/coub-mob1.png  1x,
                  ./images/printing-examples/coub-mob2x.png 2x
                "
              />
              <img
                class="position"
                src="./images/printing-examples/coub-mob1.png"
                alt="КОРПОРАТИВНИЙ ДИЗАЙН"
              />
            </picture>
          </div>
          <h3 class="examples-pre-title le">КОРПОРАТИВНИЙ<br />ДИЗАЙН</h3>
        </li>
      </ul>
    </div>
  </div>
</section>
