<section class="printing-process">
  <div class="container printing-process-container">
    <ul class="printing-process-list">
      <li class="printing-process-item">
        <picture>
          <source
            srcset="./images/printing-process/effil-tower-desktop@x1.jpg 1x, ./images/printing-process/effil-tower-desktop@x2.jpg 2x"
            media="(min-width: 1200px)"
          />
          <source
            srcset="./images/printing-process/effil-tower-tablet@x1.jpg 1x, ./images/printing-process/effil-tower-tablet@x2.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./images/printing-process/effil-tower-mobile@x2.jpg 1x, ./images/printing-process/effil-tower-mobile@x4.jpg 2x"
            media="(max-width: 767px)"
          />
          <img
            src="./images/printing-process/effil-tower-desktop@x1.jpg"
            alt="effil-tower"
            width="236"
            height="324"
          />
        </picture>
        <div class="printing-process-block">
        <p class="printing-process-text">
          3D-друк - ми використовуємо FDM технологію друку. Вона представляє собою пошарове формування об'єкта за допомогою 3D принтера.
        </p>
        <p class="printing-process-text">
          Моделі для створення розроблюються дизайнерами в спеціальному програмному забезпеченні: системах автоматизованого проектування.
        </p>
        <p class="printing-process-text">
          3D друк знайшов широке застосування в архітектурі, промисловості, маркетингу, мистецтві і багатьох інших сфер.
        </p>
      </div>
      <button type="button" class="btn">ЗРОБИТИ ЗАМОВЛЕННЯ</button>
      </li>
      <li class="printing-process-item">
        <picture>
          <source
            srcset="./images/printing-process/computer-modeling-desktop@x1.jpg 1x, ./images/printing-process/computer-modeling-desktop@x2.jpg 2x"
            media="(min-width: 1200px)"
          />
          <source
            srcset="./images/printing-process/computer-modeling-tablet@x1.jpg 1x, ./images/printing-process/computer-modeling-tablet@x2.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./images/printing-process/computer-modeling-mobile@x2.jpg 1x, ./images/printing-process/computer-modeling-mobile@x4.jpg 2x"
            media="(max-width: 767px)"
          />
          <img
            src="./images/printing-process/computer-modeling-desktop@x1.jpg"
            alt="effil-tower"
            width="236"
            height="324"
          />
        </picture>
        <div class="printing-process-block">
        <p class="printing-process-text">
          3D-моделювання - це процес розробки математичного уявлення будь-якої поверхні об'єкта в трьох вимірах за допомогою
спеціалізованого програмного забезпечення. 
        </p>
        <p class="printing-process-text">
          Наші дизайнери зпроектують будь-який виріб виходячи з ваших побажань.
        </p>
        <p class="printing-process-text">
          Розуміючи специфіку 3D друку і ваших задач ми створимо деталь яка повністю задовольнить ваші потреби.
        </p>
      </div>
      <button type="button" class="btn">ЗРОБИТИ ЗАМОВЛЕННЯ</button>
      </li>
      <li class="printing-process-item">
        <picture>
          <source
            srcset="./images/printing-process/white-stature-desktop@x1.jpg 1x, ./images/printing-process/white-stature-desktop@x2.jpg 2x"
            media="(min-width: 1200px)"
          />
          <source
            srcset="./images/printing-process/white-stature-tablet@x1.jpg 1x, ./images/printing-process/white-stature-tablet@x2.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./images/printing-process/white-stature-mobile@x2.jpg 1x, ./images/printing-process/white-stature-mobile@x4.jpg 2x"
            media="(max-width: 767px)"
          />
          <img
            src="./images/printing-process/white-stature-desktop@x1.jpg"
            alt="effil-tower"
            width="236"
            height="324"
          />
        </picture>
        <div class="printing-process-block">
        <p class="printing-process-text">
          3D-сканування - зняття даних, шляхом аналізу форми предмета і на основі отриманих даних створення її 3D-моделі.
        </p>
        <p class="printing-process-text">
          Це універсальний інструмент, який дозволяє отримати як і просто 3D-модель для візуалізації в цифровому вигляді, так і 3D-модель для подальшого її друку на 3D-принтері.
        </p>
      </div>
      <button type="button" class="btn">ЗРОБИТИ ЗАМОВЛЕННЯ</button>
      </li>
    </ul>
  </div>
</section>
