<section class="printing-process">
  <div class="container printing-process-container">
    <ul class="printing-process-list">
      <li class="printing-process-item">
        <picture>
          <source
            srcset="
              ./images/printing-process/effil-tower-desktopx1.jpg 1x,
              ./images/printing-process/effil-tower-desktopx2.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/printing-process/effil-tower-tabletx1.jpg 1x,
              ./images/printing-process/effil-tower-tabletx2.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/printing-process/effil-tower-mobilex2.jpg 1x,
              ./images/printing-process/effil-tower-mobilex4.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/printing-process/effil-tower-desktopx1.jpg"
            alt="Ейфелева вежа"
            class="printing-process-image"
          />
        </picture>
        <div class="prinring-process-block">
          <div class="printing-process-text-block">
            <p class="printing-process-text">
              <span class="printing-process-text-header">3D-друк</span> - ми
              використовуємо FDM технологію друку. Вона представляє собою
              пошарове формування об'єкта за допомогою 3D принтера.
            </p>
            <p class="printing-process-text">
              Моделі для створення розроблюються дизайнерами в спеціальному
              програмному забезпеченні: системах автоматизованого проектування.
            </p>
            <p class="printing-process-text">
              3D друк знайшов широке застосування в архітектурі, промисловості,
              маркетингу, мистецтві і багатьох інших сфер.
            </p>
          </div>
          <button href="" type="button" class="btn printing-process-btn">
            ЗРОБИТИ ЗАМОВЛЕННЯ
          </button>
        </div>
      </li>
      <li class="printing-process-item">
        <picture>
          <source
            srcset="
              ./images/printing-process/computer-modeling-desktopx1.jpg 1x,
              ./images/printing-process/computer-modeling-desktopx2.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/printing-process/computer-modeling-tabletx1.jpg 1x,
              ./images/printing-process/computer-modeling-tabletx2.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/printing-process/computer-modeling-mobilex2.jpg 1x,
              ./images/printing-process/computer-modeling-mobilex4.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/printing-process/computer-modeling-desktopx1.jpg"
            alt="Моделювання на комп'ютері"
            class="printing-process-image"
          />
        </picture>
        <div class="prinring-process-block">
          <div class="printing-process-text-block">
            <p class="printing-process-text">
              <span class="printing-process-text-header">3D-моделювання</span> -
              це процес розробки математичного уявлення будь-якої поверхні
              об'єкта в трьох вимірах за допомогою спеціалізованого програмного
              забезпечення.
            </p>
            <p class="printing-process-text">
              Наші дизайнери зпроектують будь-який виріб виходячи з ваших
              побажань.
            </p>
            <p class="printing-process-text">
              Розуміючи специфіку 3D друку і ваших задач ми створимо деталь яка
              повністю задовольнить ваші потреби.
            </p>
          </div>
          <button type="button" class="btn printing-process-btn">
            ЗРОБИТИ ЗАМОВЛЕННЯ
          </button>
        </div>
      </li>
      <li class="printing-process-item">
        <picture>
          <source
            srcset="
              ./images/printing-process/white-stature-desktopx1.jpg 1x,
              ./images/printing-process/white-stature-desktopx2.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/printing-process/white-stature-tabletx1.jpg 1x,
              ./images/printing-process/white-stature-tabletx2.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/printing-process/white-stature-mobilex2.jpg 1x,
              ./images/printing-process/white-stature-mobilex4.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/printing-process/white-stature-desktopx1.jpg"
            alt="Білий бюст"
            class="printing-process-image"
          />
        </picture>
        <div class="prinring-process-block">
          <div class="printing-process-text-block">
            <p class="printing-process-text">
              <span class="printing-process-text-header">3D-сканування</span> -
              зняття даних, шляхом аналізу форми предмета і на основі отриманих
              даних створення її 3D-моделі.
            </p>
            <p class="printing-process-text">
              Це універсальний інструмент, який дозволяє отримати як і просто
              3D-модель для візуалізації в цифровому вигляді, так і 3D-модель
              для подальшого її друку на 3D-принтері.
            </p>
          </div>
          <button type="button" class="btn printing-process-btn">
            ЗРОБИТИ ЗАМОВЛЕННЯ
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
